<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix hidden-xs hidden-sm hidden-md" ><img ng-src="{{::( 'logo.png' | appImage )}}" height="60"></a>
  <a href="#/dashboard" class="al-logo clearfix hidden-lg"><img style="vertical-align: bottom;" ng-src="{{::( 'logo_smile.png' | appImage )}}" height="50"></a>
  <a href class="collapse-menu-link fa fa-bars" ba-sidebar-toggle-menu></a>

  <div class="user-profile clearfix">
    <ul class="al-msg-center clearfix">
      <li><a href class="signout hidden-xs" ng-click="logout()"><i class="fa fa-lg fa-power-off"></i> Sign out</a></li>
      <li><a href class="signout hidden-lg hidden-md hidden-sm" ng-click="logout()"><i class="fa fa-lg fa-power-off"></i></a></li>
    </ul>
  </div>
  <!-- <div class="user-profile clearfix">
     <div class="al-user-profile" uib-dropdown>
       <a uib-dropdown-toggle class="profile-toggle-link">
         &lt;!&ndash;<img ng-src="{{::( 'Nasta' | profilePicture )}}">&ndash;&gt;
       </a>
       <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
         <li><i class="dropdown-arr"></i></li>
         <li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>
         <li><a href><i class="fa fa-cog"></i>Settings</a></li>
         <li><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
       </ul>
     </div>
   </div>-->
</div>