<div>
    <div class="text-center please-wait">
        <span>Please wait...</span>
    </div>
    <div class="text-center please-spin">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>
</div>