<div class="col-sm-12">
    <button class="btn btn-primary btn-sm" ng-click="goToQuestionListPage()"><i
            class="fa fa-arrow-left fa-lg"></i> Back
    </button>
</div>
<br><br>
<br>
<div class="col-sm-12">
    <div class="panel profile-panel">
        <div class="panel-heading panel-background">
            <div class="row">
                <div class="col-sm-11">
                    <h3 class="panel-title">Edit Question</h3>
                </div>
                <div class="col-sm-1">
                    <a class="pull-right" data-toggle="modal" data-toggle="tooltip"
                       title="Online Language Converter"href="http://www.quillpad.in/index.html#.WOSVs2mGPcs" target="_blank"><i class="fa fa-keyboard-o fa-lg" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form name="editQuestion.form" accept-charset="ISO-8859-1" class="form-horizontal" ng-submit="updateQuestion(editQuestion.form.$valid)"
                  novalidate>
                <div class="form-group">
                    <div class="col-sm-12">
                        <h6 class="note-text">Note: * Fields are Mandatory</h6>
                        Question<span class="note-text">*</span>
                        <div ng-class="{'has-error': editQuestion.form.questionDesc.$invalid && (editQuestion.form.questionDesc.$dirty || editQuestion.form.$submitted)}">
                            <input class="form-control" name="questionDesc"
                                   ng-model="questionInfo.questionDesc" minlength="1" required>
                            <span class="help-block error-block basic-block">Question is required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        Subject Question Type<span class="note-text">*</span>
                        <div ng-class="{'has-error': editQuestion.form.questionType.$invalid && (editQuestion.form.questionType.$dirty || editQuestion.form.$submitted)}">
                            <select ng-disabled="true"class="form-control" ng-model="questionInfo.questionType"
                                    id="questionType" name="questionType"
                                    ng-options="g.id as g.text for g in QuestionTypeOptions" required>
                                <option value="">Select Question Type</option>
                            </select>
                            <span class="help-block error-block basic-block">Please select question answer type.</span>
                     <!--       <input ng-readonly="true" class="form-control" name="questionType"
                                   ng-model="questionInfo.questionType">-->
                        </div>
                    </div>
                    <div class="col-sm-6" ng-hide="itsOpenText">
                        Answer Symbol<span class="note-text">*</span>
                        <div ng-class="{'has-error': editQuestion.form.answerSymbol.$invalid && (editQuestion.form.answerSymbol.$dirty || editQuestion.form.$submitted)}">
                            <select class="form-control" ng-model="questionInfo.answerSymbol"
                                    id="answerSymbol" name="answerSymbol"
                                    ng-options="a.id as a.text for a in SymbolTypeOptions" required>
                                <option value="">Select Answer Symbol Type</option>
                            </select>
                            <span class="help-block error-block basic-block">Please select answer symbol.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-hide="itsOpenText">
                    <div class="col-sm-12">
                        <div ng-class="{'has-error': editQuestion.form.answerOption.$invalid && (editQuestion.form.answerOption.$dirty || editQuestion.form.$submitted)}">
                            <table>
                                <tr>
                                    <td ng-hide="isSingleRating">
                                        Enter Value<span class="note-text">*</span>
                                    </td>
                                    <td  ng-hide="itsSingleSelect">
                                        Enter Rating<span class="note-text">*</span>
                                    </td>
                                    <td ng-hide="itsSingleSelect">
                                        Enter Weightage<span class="note-text">*</span>
                                    </td>

                                </tr>
                                <tr ng-repeat="option in editQuestion.info.answerOption track by $index">
                                    <td class="col-md-3" ng-hide="isSingleRating">
                                        <span ng-show="itsSingleSelect"><input type="checkbox" ng-model="editQuestion.info.answerOption[$index].threshold" ng-true-value="'1'" ng-false-value="''"/> SMS threshold?</span>
                                        <input type="text" class="form-control "
                                                                style="margin-left: -15px;margin-bottom: 8px"
                                                                ng-model="editQuestion.info.answerOption[$index].answerDesc"
                                                                placeholder="Enter Value"></td>
                                    <td class="col-md-3" ng-hide="itsSingleSelect"><input type="number" class="form-control"
                                                                style="margin-left: -15px;margin-bottom: 8px"
                                                                ng-model="editQuestion.info.answerOption[$index].rating"
                                                                placeholder="Enter Rating"></td>
                                    <td class="col-md-3" ng-hide="itsSingleSelect"><input type="number" class="form-control"
                                                                style="margin-left: -15px;margin-bottom: 8px"
                                                                ng-model="editQuestion.info.answerOption[$index].weightage"
                                                                placeholder="Enter Weightage"></td>
                                    <td class="col-md-1">
                                        <span ng-show="itsSingleSelect" >&nbsp;</span>
                                        <input type="button" class="form-control" ng-if="!isSingleRating"
                                                                style="margin-left: -15px;margin-bottom: 8px; margin-right:10px"
                                                                ng-click="addRow($index)" value="Add Option"
                                                                ng-show="$last"></td>
                                    <td class="col-md-1 ">
                                        <span ng-show="itsSingleSelect" >&nbsp;</span>
                                        <input type="button" class="form-control" ng-if="!isSingleRating"
                                                                 style="margin-left: -15px;margin-bottom: 8px;margin-right:10px"
                                                                 ng-click="deleteRow($event,$index)" value="Delete"
                                                                 ng-show="$index != 0"></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="isRatingQues">
                    <div class="col-sm-6">
                        SMS threshold<span class="optional-text">  (optional)</span>
                        <input type="number"
                               class="form-control"
                               ng-model="editQuestion.ratingThreshold"
                               placeholder="Enter Rating Threshold">
                    </div>
                </div>
               <!-- <div class="form-group" ng-if="itHasParentQuestion">-->
                <div class="form-group">
                    <div class="col-sm-6">
                        Parent Question<span class="optional-text">  (optional)</span>
                        <select class="form-control" ng-model="selected.parentQuestion" class="form-control"
                                name="parentQuestionId" ng-change="getParentAnswerByQuestionId()"
                                ng-options="item as item.questionDesc for item in questionListsData">
                            <option value="" class="grey-text">No Parent Question</option>
                        </select>
                    </div>
                    <div class="col-sm-6" ng-if="isLoadingParentAnswers">
                        Parent Answer<span class="optional-text">  (optional)</span>
                        <select class="form-control" ng-model="selected.parentAnswer" class="form-control"
                                name="parentAnswerId" placehoder="Select Parent Answer"
                                ng-options="item as item.answerDesc for item in answerListByQuestion">
                            <option value="">Select Parent Answer</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-raised" ng-hide="dataLoading"
                                ng-disabled="editQuestion.form.$invalid">Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
