<div class="col-sm-12">
    <button class="btn btn-primary btn-sm" ng-back><i
            class="fa fa-arrow-left fa-lg"></i> Back
    </button>
    <br><br>
</div>
<div class="col-sm-12">

    <div class="row">
        <div class="col-md-3 col-lg-3">

        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
            <div class="panel profile-panel ">
                <div class="panel-heading panel-background">
                    <h3 class="panel-title">Create User</h3>
                </div>
                <div class="panel-body">
                    <form name="newUser.form" class="form" ng-submit="createUser(newUser.form.$valid)"
                          novalidate>
                        <div class="form-group ">
                            <label class="control-label"><b>Name<span class="note-text">*</span></b></label>
                            <div ng-class="{'has-error': newUser.form.name.$invalid && (newUser.form.name.$dirty || newUser.form.$submitted)}">
                                <input class="form-control" name="name" ui-validate="'isName($value)'"
                                       ng-model="newUser.info.name" minlength="5"
                                       maxlength="40" required>
                                <span class="help-block error-block basic-block pull-right">Valid name without special characters</span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label"><b>Username<span class="note-text">*</span></b></label>
                            <div ng-class="{'has-error': newUser.form.userName.$invalid && (newUser.form.userName.$dirty || newUser.form.$submitted)}">
                                <input class="form-control" id="userName" name="userName"
                                       ui-validate="'isUsername($value)'"
                                       ng-model="newUser.info.userName" required>
                                <span class="help-block error-block basic-block pull-right">Only characters a-z,0-9 and space is not allowed.</span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label"><b>Email<span class="note-text">*</span></b></label>
                            <div ng-class="{'has-error': newUser.form.email.$invalid && (newUser.form.email.$dirty || newUser.form.$submitted)}">
                                <input type="email" class="form-control" name="email"
                                       ng-model="newUser.info.email" required>
                                <span class="help-block error-block basic-block pull-right">Please enter valid email id.</span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label"><b>Password<span class="note-text">*</span></b><span
                                    class="optional-text"> (minimum length 8)</span></label>
                            <div ng-class="{'has-error': newUser.form.password.$invalid && (newUser.form.password.$dirty || newUser.form.$submitted)}">
                                <input type="password" class="form-control" name="password"
                                       ui-validate="'isPassword($value)'" minlength="8"
                                       ng-model="newUser.info.password" required>
                                <span class="help-block error-block basic-block pull-right">Please enter valid password</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div ng-class="{'has-error': newUser.form.roleId.$invalid && (newUser.form.roleId.$dirty || newUser.form.$submitted)}">
                                <label class="control-label"><b>Select Role<span class="note-text">*</span></b></label>
                                <select class="form-control" ng-model="selected.role" class="form-control"
                                        name="roleId" id="roleId" ng-required="true"
                                        ng-options="item as item.name for item in roleListData" required>
                                    <option value="">Select Role</option>
                                </select>
                                <span class="help-block error-block basic-block pull-right">Please select at least one role</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input style="vertical-align: sub!important;" type="checkbox" ng-model="notifyEmail.isChecked"/> <b style="font-size: 13px"> Email Notification?</b>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-disabled="newUser.form.$invalid">Add User
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3">

        </div>
    </div>
</div>
