<div class="horizontal-scroll">
    <div class="row">
        <label class="col-sm-2 pull-right">Rows on page
            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                    ng-model="userPageSize" ng-options="i for i in [5,10,15,20,25]">
            </select>
        </label>
        <button class="btn btn-primary pull-right btn-raised margin-top-btn" ng-click="exportToXLS()">Export to XLS
        </button>
    </div>
    <div class="panel profile-panel">
        <div class="panel-heading panel-background">
            <h3 class="panel-title">Users List</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-responsive" st-table="usersData" st-safe-src="usersMasterData">
                    <thead>
                    <tr class="sortable ">
                        <th class="table-id" st-sort="id"><b>ID</b></th>
                        <th st-sort="userName"><b>USER NAME</b></th>
                        <th><b>EMAIL</b></th>
                        <th><b>ROLE</b></th>
                        <th><b>STATUS</b></th>
                        <th ng-if="hasEditRights"><b>ACTION</b></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th><input st-search="userName" placeholder="Search Users"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th ng-if="hasEditRights"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in usersData">
                        <td>{{item.id}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.email}}</td>
                        <td>{{fetchRoleNameFromId(item.roleId)}}</td>
                        <td>{{item.status|statusFullForm}}</td>
                        <td ng-if="hasEditRights">
                            <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                                    ng-click="goToEditUserPage(item)" data-toggle="tooltip" title="Edit User Details"><i
                                    class="fa fa-pencil fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-pagination="" st-items-by-page="userPageSize" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <button ng-if="hasAddRights" type="submit" class="btn btn-primary col-sm " data-toggle="modal"
                    data-toggle="tooltip" title="Add new user Details"
                    ng-click="goToAddUserPage()">Add User
                <i class="fa fa-user-plus"></i>
            </button>
        </div>
    </div>
    <div  ng-hide="true" >
        <table id="userTableToExport" st-table="usersMasterData" class="table device" >
            <thead>
            <tr style="background-color:#458b74;color:#ffffff">
                <th class="table-id" st-sort="id"><b>ID</b></th>
                <th st-sort="userName"><b>USER NAME</b></th>
                <th><b>EMAIL</b></th>
                <th><b>ROLE</b></th>
                <th><b>MENU ACCESS</b></th>
                <th><b>OUTLET ACCESS</b></th>
                <th><b>EMAIL NOTIFICATION</b></th>
                <th><b>STATUS</b></th>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="item in usersMasterData">
                <td>{{item.id}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.email}}</td>
                <td>{{fetchRoleNameFromId(item.roleId)}}</td>
                <td>{{item.menuAccess|menuAccessFilter}}</td>
                <td>{{outletAccessIdFilter(item.outletAccess)}}</td>
                <td>{{item.notifyEmail|yesNoValueFilter}}</td>
                <td>{{item.status|statusFullForm}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>