<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close"></em>
        </button>
        <h4 class="modal-title ">Edit Template</h4>
    </div>
    <div class="modal-body">
        <form name="editTemplate.form" class="form-horizontal" ng-submit="updateTemplate(editTemplate.form.$valid)"
              novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    <h6 class="note-text">Note: * Fields are Mandatory</h6>
                    Template Title<span class="note-text">*</span>
                    <div ng-class="{'has-error': editTemplate.form.templateDesc.$invalid && (editTemplate.form.templateDesc.$dirty || editTemplate.form.$submitted)}">
                        <input class="form-control" name="templateDesc"
                               ng-model="editTemplate.info.templateDesc"
                               minlength="1" required>
                        <span class="help-block error-block basic-block" style="display: none">Valid name without special characters</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-raised " ng-hide="dataLoading"
                            ng-disabled="editTemplate.form.$invalid">Update
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        &nbsp;
    </div>
</div>
