<div class="row">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-10">
        <div class="panel profile-panel">
            <div class="panel-heading panel-background">
                <h3 class="panel-title">Template List</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-9 col-lg-10 col-md-9 col-xs-8 margin-top-btn ">
                        <button class="btn btn-primary pull-right btn-raised" ng-click="gotoCreateTemplate()"
                                ng-if="hasAddRights">Create
                            Template
                        </button>
                    </div>
                    <label class="col-sm-3 col-lg-2 col-md-3 col-xs-4">Rows on page
                        <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                                ng-model="templatePageSize" ng-options="i for i in [5,10,15,20,25]">
                        </select>
                    </label>
                </div>
                <table class="table table-responsive table-striped" st-table="templateListsData"
                       st-safe-src="templateListsMasterData">
                    <thead>
                    <tr class="sortable ">
                        <th class="table-id" st-sort="id"><b>ID</b></th>
                        <th st-sort="templateDesc"><b>TEMPLATE</b></th>
                        <th st-sort="status"><b>STATUS</b></th>
                        <!--          <th><b>OUTLETS</b></th>-->
                        <th ng-if="hasViewRights || hasEditRights || hasTemplateEditRights"><b>ACTION</b></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th><input st-search="templateDesc" placeholder="Search Template"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>
                        <th><select st-search="status" st-input-event="change" st-delay="0" ng-model="dummy"
                                    class="input-sm form-control">
                            <option value="">
                                All
                            </option>
                            <option value="I">
                                InActive
                            </option>
                            <option value="A">
                                Active
                            </option>
                        </select></th>
                        <!--           <th></th>-->
                        <th ng-if="hasViewRights || hasEditRights || hasTemplateEditRights"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in templateListsData">
                        <td>{{item.templateId}}</td>
                        <td>{{item.templateDesc}}</td>
                        <td editable-select="item.status" e-selectpicker blur="cancel" ng-if="hasEditRights"
                            e-ng-options="g.id as g.text for g in statusOptions" onaftersave="updateTemplate(item)">
                            {{item.status
                            | statusFullForm}}
                        </td>

                        <td ng-if="!hasEditRights">
                            {{item.status
                            | statusFullForm}}
                        </td>
                        <!--     <td> <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                                           ng-click="showOutlets(item.outlets)"data-toggle="tooltip"
                                          title="Linked Outlets">Linked Outlets</button>
                             </td>-->
                        <td ng-if="hasViewRights || hasEditRights || hasTemplateEditRights">
                            <button ng-if="hasViewRights || hasEditRights" class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                                    ng-click="goToAssignQuestionPage(item)">Manage <i class="fa fa-sign-in fa-lg"
                                                                                      data-toggle="tooltip"
                                                                                      title="Manage Template"></i>
                            </button>
                            <button ng-if="hasTemplateEditRights" class="btn btn-primary btn-xs btn-raised"
                                    data-toggle="modal"
                                    ng-click="editTemplateBox(item)"><i class="fa fa-pencil fa-lg"
                                                                        data-toggle="tooltip"
                                                                        title="Edit Template"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="templatePageSize" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-1">

    </div>
</div>
