<!--
<main class="auth-main" ng-show="registerSuccess">
    <div class="register-block">
        <div class="alert alert-success register-success">
            <strong>You have Registered successfully ! </strong>
        </div>
        <p><a href="#/login" class="create-account"> Click here </a>to login </p>
    </div>
</main>
-->

<main class="auth-main">
    <div class="register-block">
        <h1 class="al-logo clearfix"><img ng-src="{{::( 'logo2.png' | appImage )}}" height="70%"></h1>
        <p class="register-box-msg">GET REGISTERED FOR THE MEMBERSHIP</p>
        <form name="newClient.form" method="post" role="form" ng-submit="createClient(newClient.form.$valid)"
              novalidate>
            <div class="form-group"
                 ng-class="{'has-error': newClient.form.name.$invalid && (newClient.form.name.$dirty || newClient.form.$submitted)}">
                <input class="form-control" id="inputname" name="name"
                       placeholder="Enter Company Name" type="text
"
                       ng-model="newClient.info.name" required>
                <span class="help-block error-block basic-block" style="color: white!important;">Required</span>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': newClient.form.email.$invalid && (newClient.form.email.$dirty || newClient.form.$submitted)}">
                <input class="form-control" id="inputEmail" type="email" name="email" placeholder="Enter Email"
                       ng-model="newClient.info.email" required>
                <span class="help-block error-block basic-block" style="color: white!important;">Required</span>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': newClient.form.location.$invalid && (newClient.form.location.$dirty || newClient.form.$submitted)}">
                <input class="form-control" id="inputLocation" name="location" placeholder="Enter Location"
                       ng-model="newClient.info.location" required>
                <span class="help-block error-block basic-block" style="color: white!important;">Required</span>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': newClient.form.mobile.$invalid && (newClient.form.mobile.$dirty || newClient.form.$submitted)}">
                <input class="form-control" id="inputMobile" type="number" name="mobile" placeholder="Enter Mobile"
                       ng-model="newClient.info.mobile" required>
                <span class="help-block error-block basic-block" style="color: white!important;">Required</span>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': newClient.form.userName.$invalid && (newClient.form.userName.$dirty || newClient.form.$submitted)}">
                <input class="form-control" id="inputUserName" name="userName" placeholder="Username"
                       ng-model="newClient.info.userName">
                <span class="help-block error-block basic-block" style="color: white!important;">Required</span>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': newClient.form.password.$invalid && (newClient.form.password.$dirty || newClient.form.$submitted)}">
                <input type="password" class="form-control" type="password" id="inputPassword" name="password"
                       placeholder="Enter Password"
                       ng-model="newClient.info.password" required>
                <span class="help-block error-block basic-block" style="color: white!important;">Required</span>
            </div>
        <!--    <div class="row">
                <div class="form-group col-sm-6"
                     ng-class="{'has-error': newClient.form.noOfDevices.$invalid && (newClient.form.noOfDevices.$dirty || newClient.form.$submitted)}">
                    <input class="form-control" id="inputNoOfDevices" name="noOfDevices"
                           placeholder="Enter Number of Devices" type="number"
                           ng-model="newClient.info.noOfDevices" required>
                    <span class="help-block error-block basic-block" style="color: white!important;">Required</span>
                </div>
                <div class="form-group col-sm-6"
                     ng-class="{'has-error': newClient.form.noOfOutlets.$invalid && (newClient.form.noOfOutlets.$dirty || newClient.form.$submitted)}">
                    <input class="form-control" id="inputNoOfOutlets" name="noOfOutlets"
                           placeholder="Enter Number of Outlets" type="number"
                           ng-model="newClient.info.noOfOutlets" required>
                    <span class="help-block error-block basic-block" style="color: white!important;">Required</span>
                </div>
            </div>-->
            <div class="form-group">
                <button type="submit" class="btn btn-auth btn-md col-sm-12 col-md-12 col-lg-12 col-xs-12">Register
                </button>
            </div>
        </form>
    </div>
</main>




