<main class="auth-main" ng-if="!registerPage">
    <div class="auth-block">
        <h1 class="al-logo clearfix"><img ng-src="{{::( 'logo2.png' | appImage )}}" height="70%"></h1>
        <form class="form-horizontal" ng-submit="onNextButton(clientInfo.$valid)" name="clientInfo" novalidate>
            <div class="form-group" ng-if="beforeAccountId"
                 ng-class="{'has-error': clientInfo.clientId.$invalid && (clientInfo.clientId.$dirty || clientInfo.$submitted)}">
                <label for="userName" class="col-sm-2 control-label sr-only">Account Id</label>
                <input type="clientId" class="form-control" id="inputUserClientId" name="clientId"
                       ng-model="userLoginInfo.clientId" placeholder="Account Id" required>
                <span class="help-block error-block basic-block pull-right login-error">Please enter valid account name.</span>
            </div>
            <div class="form-group button-wrapper" ng-if="beforeAccountId">
                <button type="submit" class="btn btn-auth btn-md">
                    Next
                    <span class="glyphicon glyphicon-share-alt next-icon" style="vertical-align: sub"></span></button>
            </div>
        </form>
        <form class="form-horizontal" ng-submit="login(loginForm.$valid)" name="loginForm" novalidate>
            <div class="form-group" ng-if="afterAccountId"
                 ng-class="{'has-error': loginForm.userName.$invalid && (loginForm.userName.$dirty || loginForm.$submitted)}">
                <label for="userName" class="col-sm-2 control-label sr-only">Username</label>
                <input type="text" class="form-control" id="userName" name="userName"
                       ng-model="userLoginInfo.userName" placeholder="Username" required>
                <span class="help-block error-block basic-block pull-right login-error">Required valid username</span>
            </div>
            <div class="form-group" ng-if="afterAccountId"
                 ng-class="{'has-error': loginForm.userPassword.$invalid && (loginForm.userPassword.$dirty || loginForm.$submitted)}">
                <label for="userPassword" class="col-sm-2 control-label sr-only">Password</label>
                <input type="password" class="form-control" id="userPassword" name="userPassword"
                       ng-model="userLoginInfo.userPassword" placeholder="Password" required>
                <span class="help-block error-block basic-block pull-right login-error">Required password</span>
            </div>
            <div class="form-group text-center" ng-if="afterAccountId">
                <button type="button" class="btn btn-auth btn-md" ng-click="onBackNextButton()">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back
                </button>
                <button type="submit" class="btn btn-auth btn-md">Login
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</main>

