<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close "></em>
        </button>
        <h4 class="modal-title">Add Sms Gateway.</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <form name="createSmsSettings.form" class="form"
                  ng-submit="addSmsSettings(createSmsSettings.form.$valid)"
                  novalidate>
                <div class="row">
                    <div class="form-group col-sm-6">
                        Gateway Name
                        <div ng-class="{'has-error': createSmsSettings.form.name.$invalname && (createSmsSettings.form.name.$dirty || createSmsSettings.form.$submitted)}">
                            <input class="form-control" name="name" placeholder="Enter gateway name" ng-model="createSmsSettings.info.name" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        Api
                        <div ng-class="{'has-error': createSmsSettings.form.api.$invalid && (createSmsSettings.form.api.campaign.$dirty || createSmsSettings.form.$submitted)}">
                            <input class="form-control" name="api" placeholder="Enter api"
                                   ng-model="createSmsSettings.info.api" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        Sender Id
                        <div ng-class="{'has-error': createSmsSettings.form.senderId.$invalid && (createSmsSettings.form.senderId.$dirty || createSmsSettings.form.$submitted)}">
                            <input class="form-control" name="senderId" placeholder="Enter senderid"
                                   ng-model="createSmsSettings.info.senderId" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>

                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        Campaign
                        <div ng-class="{'has-error': createSmsSettings.form.campaign.$invalid && (createSmsSettings.form.campaign.$dirty || createSmsSettings.form.$submitted)}">
                            <input class="form-control" name="campaign" placeholder="Enter Campaign"
                                   ng-model="createSmsSettings.info.campaign" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        Country Code
                        <div ng-class="{'has-error': createSmsSettings.form.countryCode.$invalid && (createSmsSettings.form.countryCode.$dirty || createSmsSettings.form.$submitted)}">
                            <input class="form-control" name="countryCode" placeholder="Enter county code"
                                   ng-model="createSmsSettings.info.countryCode" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                </div>
                <div clas="form-group">
                    <button type="submit" class="btn btn-primary col-sm-12" ng-disabled="createSmsSettings.form.$invalid">Create
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        &nbsp;
    </div>
</div>