<div class="row">
    <div class="col-sm-4" ng-if="hasRolesAddEditAccess">
        <div class="panel profile-panel">
            <div class="panel-heading panel-background">
                <h3 class="panel-title">Create Role</h3>
            </div>
            <div class="panel-body">
                <form name="newRole.form" class="form-horizontal" ng-submit="createRole(newRole.form.$valid)"
                      novalidate>
                    <div class="form-group ">
                        <div class="col-sm-12">
                            <b>Role Name</b><span class="note-text">*</span>
                            <div ng-class="{'has-error': newRole.form.name.$invalid && (newRole.name.college.$dirty || newRole.form.$submitted)}">
                                <input class="form-control" name="name" placeholder="Enter Role Name"
                                       ng-model="newRole.info.name" required>
                                <span class="help-block error-block basic-block" style="display: none"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <b>Select Outlet</b><span class="note-text">*</span>
                            <div><input type="checkbox" ng-model="selectAllOutlet.isChecked"/> Select All Outlet</div>
                            <div ng-hide="selectAllOutlet.isChecked"
                                 ng-class="{'has-error': newRole.form.subjectAssignType.$invalid && (newRole.form.subjectAssignType.$dirty || newRole.form.$submitted)}">
                                <ui-select id="subTypes" name="subTypes" theme="bootstrap" multiple
                                           close-on-select="false" ng-model="selected.outlet">
                                    <ui-select-match placeholder="Select Outlets">
                                        <span ng-bind="$item.outletDesc"></span>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in (outletListsData | filter: $select.search) track by item.id">
                                        <span ng-bind="item.outletDesc"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <b>Select Menus</b><span class="note-text">*</span>
                            <ul class="list-group">
                                <li ng-repeat="item in menusList" style="display: block">
                                    <div ng-style="getLevelStyle(item.sequenceId)"
                                         ng-class="{'has-error': newRole.form.menuId.$invalid && (newRole.form.menuId.$dirty || newRole.form.$submitted)}">
                                        <div>
                                            <input id="menuId" checklist-model="selected.menu"
                                                   ng-change="validParentMenu(item, checked, selected.menu)"
                                                   checklist-value="item"

                                                   name="menuId" type="checkbox"/>
                                            {{item.name}}
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary btn-raised" ng-hide="dataLoading"
                                    ng-disabled="newRole.form.$invalid">Create Role
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8" ng-if="hasRolesAddEditAccess">
        <div>
            <button class="pull-right role-export-btn" ng-click="exportToXLS()">Export to XLS
            </button>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                <table class="table" st-table="roleListData" st-safe-src="roleListMasterData">
                    <thead>
                    <tr class="sortable " style="background-color: #ffffff">
                        <th style="border-top-left-radius: 3px;"><b>ID</b></th>
                        <th st-sort="name"><b>ROLE NAME</b></th>
                        <th><b>MENU ACCESS <i class="fa fa-info-circle menu-info fa-lg" ng-click="openMenuInfoBox()" aria-hidden="true"></i></b></th>
                        <th><b>OUTLET COUNT</b></th>
                        <th style="border-top-right-radius: 3px;"><b>ACTION</b></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th><input st-search="name" placeholder="Search Role"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in roleListData">
                        <td>{{item.roleId}}</td>
                        <td>{{item.name}}</td>
                        <td style="word-break: break-all;line-height: 1.6;">{{item.menuAccess}}</td>
                        <td>{{item.outletAccess|getCount}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                                    ng-click="viewAssignedOutletBox(item)" data-toggle="tooltip"
                                    title="View Assigned Outlets">
                                <i
                                        class="fa fa-link fa-lg"></i>
                            </button>
                            <button ng-if="hasRolesAddEditAccess" class="btn btn-primary btn-xs" data-toggle="modal"
                                    ng-click="editRoleData(item)"><i
                                    class="fa fa-pencil fa-lg" data-toggle="tooltip" title="Edit Role"></i>
                            </button>
                        </td>
                    </tr>
                    <!--   <tr>
                           <td colspan="6" class="text-center">
                                   <span class="note-text" ng-show="batchesData.length == 0">
                                       No batches in this course.</span>
                           </td>
                       </tr>-->
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="true">
    <table id="roleTableToExport" class="table device">
        <thead>
        <tr style="background-color: #d7f8f2;color: #19537d;">
            <th><b>SR.NO</b></th>
            <th><b>ROLE NAME</b></th>
            <th><b>MENU ACCESS</b></th>
            <th><b>OUTLET ACCESS</b></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in roleListMasterData">
            <td>{{item.roleId}}</td>
            <td>{{item.name}}</td>
            <td>{{item.menuAccess|menuAccessFilter}}</td>
            <td>{{outletAccessIdFilter(item.outletAccess)}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-sm-12" ng-if="!hasRolesAddEditAccess">
    <div class="row">
        <!--   <div class="col-sm-12 menu-list">

             &lt;!&ndash;  <div class="menu-back-grnd col-sm-3" ng-repeat="item in menusList">
                   <span>{{item.id}} - {{item.name}}</span>
               </div>&ndash;&gt;
           </div>-->
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table" st-table="roleListData" st-safe-src="roleListMasterData">
                    <thead>
                    <tr class="sortable " style="background-color: #ffffff">
                        <th style="border-top-left-radius: 3px;"><b>ID</b></th>
                        <th st-sort="name"><b>ROLE NAME</b></th>
                        <th><b>MENU ACCESS <i class="fa fa-info-circle menu-info fa-lg" ng-click="openMenuInfoBox()" aria-hidden="true"></i></b></th>
                        <th><b>OUTLET COUNT</b></th>
                        <th style="border-top-right-radius: 3px;"><b>ACTION</b></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th><input st-search="name" placeholder="Search Role"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in roleListData">
                        <td>{{item.roleId}}</td>
                        <td>{{item.name}}</td>
                        <td style="max-width:172px;word-break: break-all;line-height: 1.6;">{{item.menuAccess}}</td>
                        <td>{{item.outletAccess|getCount}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                                    ng-click="viewAssignedOutletBox(item)" data-toggle="tooltip"
                                    title="View Assigned Outlets">
                                <i
                                        class="fa fa-link fa-lg"></i>
                            </button>
                            <button ng-if="hasRolesAddEditAccess" class="btn btn-primary btn-xs" data-toggle="modal"
                                    ng-click="editRoleData(item)"><i
                                    class="fa fa-pencil fa-lg" data-toggle="tooltip" title="Edit Role"></i>
                            </button>
                        </td>
                    </tr>
                    <!--   <tr>
                           <td colspan="6" class="text-center">
                                   <span class="note-text" ng-show="batchesData.length == 0">
                                       No batches in this course.</span>
                           </td>
                       </tr>-->
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
