<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close"></em>
        </button>
        <h4 class="modal-title">Edit Role</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <form name="editRoleInfo.form" class="form-horizontal" ng-submit="updateRole(editRoleInfo.form.$valid)"
                  novalidate>
                <div class="form-group ">
                    <div class="col-sm-12">
                        <b>Role Name</b><span class="note-text">*</span>
                        <div ng-class="{'has-error': editRoleInfo.form.name.$invalid && (editRoleInfo.name.college.$dirty || editRoleInfo.form.$submitted)}">
                            <input class="form-control" name="name" placeholder="Enter Role Name"
                                   ng-model="editRoleInfo.info.name" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group " >
                    <div class="col-sm-12 ">
                        <b>Select Outlet</b><span class="note-text">*</span>
                        <div><input type="checkbox" ng-model="editSelectAllOutlet.isChecked" />All Outlets</div>
                        <div ng-hide="editSelectAllOutlet.isChecked"
                             ng-class="{'has-error': editRoleInfo.form.subjectAssignType.$invalid && (editRoleInfo.form.subjectAssignType.$dirty || editRoleInfo.form.$submitted)}">
                            <ui-select id="subTypes" name="subTypes" theme="bootstrap" multiple
                                       close-on-select="false" ng-model="newSelected.outlet">
                                <ui-select-match placeholder="Select Outlets">
                                    <span ng-bind="$item.outletDesc"></span>
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in (outletListsData | filter: $select.search) track by item.id">
                                    <span ng-bind="item.outletDesc"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <b>Select Menus</b><span class="note-text">*</span>
                        <ul class="list-group">
                            <li ng-repeat="item in menusList" style="display: block">

                                <div ng-style="getLevelStyle(item.sequenceId)"
                                     ng-class="{'has-error': editRoleInfo.form.menuId.$invalid && (editRoleInfo.form.menuId.$dirty || editRoleInfo.form.$submitted),'child-menus': item.parentId !=0}">
                                    <div>
                                        <input id="menuId" checklist-model="newSelected.menu" checklist-value="item"
                                               ng-change="validParentMenu(item, checked, newSelected.menu)"
                                               name="menuId" type="checkbox"/>
                                        {{item.name}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-raised" ng-hide="dataLoading"
                                ng-disabled="editRoleInfo.form.$invalid">Update Role
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        &nbsp;
    </div>
</div>

