<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close "></em>
        </button>
        <h4 class="modal-title">Sms Gateway Information.</h4>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <form name="editSmsGateway.form" class="form"
                  ng-submit="updateSmsSettings(editSmsGateway.form.$valid)"
                  novalidate>
                <div class="row">
                    <div class="form-group col-sm-6">
                        Gateway Name
                        <div ng-class="{'has-error': editSmsGateway.form.name.$invalname && (editSmsGateway.form.name.$dirty || editSmsGateway.form.$submitted)}">
                            <input class="form-control" name="name" ng-model="editSmsGateway.info.name" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        Api
                        <div ng-class="{'has-error': editSmsGateway.form.api.$invalid && (editSmsGateway.form.api.campaign.$dirty || editSmsGateway.form.$submitted)}">
                            <input class="form-control" name="api"
                                   ng-model="editSmsGateway.info.api" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        Sender Id
                        <div ng-class="{'has-error': editSmsGateway.form.senderId.$invalid && (editSmsGateway.form.senderId.$dirty || editSmsGateway.form.$submitted)}">
                            <input class="form-control" name="senderId"
                                   ng-model="editSmsGateway.info.senderId" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>

                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        Campaign
                        <div ng-class="{'has-error': editSmsGateway.form.campaign.$invalid && (editSmsGateway.form.campaign.$dirty || editSmsGateway.form.$submitted)}">
                            <input class="form-control" name="campaign"
                                   ng-model="editSmsGateway.info.campaign" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                       Country Code
                        <div ng-class="{'has-error': editSmsGateway.form.countryCode.$invalid && (editSmsGateway.form.countryCode.$dirty || editSmsGateway.form.$submitted)}">
                            <input class="form-control" name="countryCode"
                                   ng-model="editSmsGateway.info.countryCode" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                </div>
                <div clas="form-group">
                    <button type="submit" class="btn btn-primary col-sm-12" ng-disabled="editSmsGateway.form.$invalid">Update
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        &nbsp;
    </div>
</div>