<div class="panel profile-panel">
    <div class="panel-body">
        <form name="settings.form" class="form-horizontal"
              ng-submit="saveSettings(settings.form.$valid)"
              novalidate>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <h6 class="note-text">Note: * Fields are Mandatory</h6>
                            Sms Template<span class="note-text">*</span>
                            <div ng-class="{'has-error': settings.form.smsTemplate.$invalid && (settings.form.smsTemplate.$dirty || settings.form.$submitted)}">
                                  <textarea ng-disabled="!hasGeneralEditAccess" class="form-control" name="smsTemplate"
                                            placeholder="Email template" rows="2"
                                            maxlength="200"
                                            ng-model="settings.info.smsTemplate" required></textarea>
                                <span class="help-block error-block basic-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            Archive Time<span class="note-text">*</span>
                            <div ng-class="{'has-error': settings.form.archiveTime.$invalid && (settings.form.archiveTime.$dirty || settings.form.$submitted)}">
                                <input class="form-control" name="archiveTime" type="time" placeholder="HH:mm"
                                       min="00:00" max="23:59"
                                       ng-model="settings.info.archiveTime" required>
                                <span class="help-block error-block basic-block"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            Report Time<span class="note-text">*</span>
                            <div ng-class="{'has-error': settings.form.reportTime.$invalid && (settings.form.reportTime.$dirty || settings.form.$submitted)}">
                                <input class="form-control" name="reportTime" type="time" placeholder="HH:mm"
                                       min="00:00" max="23:59"
                                       ng-model="settings.info.reportTime" required>
                                <span class="help-block error-block basic-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            Version Code<span class="note-text"> * <small
                                class="example pull-right ">[ Example:1,2,3 ]</small></span>
                            <div ng-class="{'has-error': settings.form.versionCode.$invalid && (settings.form.versionCode.$dirty || settings.form.$submitted)}">
                                <input class="form-control" name="versionCode" placeholder="Version Code"
                                       ng-model="settings.info.versionCode" minlength="1" required>
                                <span class="help-block error-block basic-block"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            Version Name<span class="note-text"> * <small
                                class="example pull-right ">[ Example:1.0 , 1.1 , 2,2 , 3.0 ]</small></span>
                            <div ng-class="{'has-error': settings.form.versionName.$invalid && (settings.form.versionName.$dirty || settings.form.$submitted)}">
                                <input class="form-control" name="versionName" placeholder="Version Name"
                                       ng-model="settings.info.versionName" minlength="1" required>
                                <span class="help-block error-block basic-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            Email Template<span class="note-text"></span>
                            <div ng-class="{'has-error': settings.form.emailTemplate.$invalid && (settings.form.emailTemplate.$dirty || settings.form.$submitted)}">
                        <textarea ng-disabled="!hasGeneralEditAccess" class="form-control" name="emailTemplate"
                                  placeholder="Email template" rows="2"
                                  maxlength="200"
                                  ng-model="settings.info.emailTemplate"></textarea>
                                <span class="help-block error-block basic-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-info btn-raised"
                                    ng-if="hasGeneralEditAccess" ng-disabled="settings.form.$invalid">SAVE
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="col-sm-12 hidden-xs place-options">
                        <strong>Placeholder options:</strong>
                        <div><strong>%cn%</strong> - <span>Customer Name</span></div>
                        <div><strong>%ce%</strong> - <span>Customer Email</span></div>
                        <div><strong>%cm%</strong> - <span>Customer Mobile</span></div>
                        <div><strong>%mn%</strong> - <span>Manger Name</span></div>
                        <div><strong>%tn%</strong> - <span>Table number</span></div>
                        <div><strong>%fd%</strong> - <span>Feedback Date</span></div>
                        <div><strong>%url%</strong> - <span>Feedback View Url</span></div>
                        <div><strong>%n%</strong> - <span>POC Name</span></div>
                        <div><strong>%o%</strong> - <span>OTP</span></div>
                        <div><strong>%N%</strong> - <span>Company Name</span></div>
                    </div>
                    <div class="col-sm-12 hidden-md hidden-lg hidden-sm">
                        <strong>Placeholder options:</strong>
                        <div><strong>%cn%</strong> - <span>Customer Name</span></div>
                        <div><strong>%ce%</strong> - <span>Customer Email</span></div>
                        <div><strong>%cm%</strong> - <span>Customer Mobile</span></div>
                        <div><strong>%mn%</strong> - <span>Manger Name</span></div>
                        <div><strong>%tn%</strong> - <span>Table number</span></div>
                        <div><strong>%fd%</strong> - <span>Feedback Date</span></div>
                        <div><strong>%url%</strong> - <span>Feedback View Url</span></div>
                        <div><strong>%n%</strong> - <span>POC Name</span></div>
                        <div><strong>%o%</strong> - <span>OTP</span></div>
                        <div><strong>%N%</strong> - <span>Company Name</span></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>