<div class="horizontal-scroll">
    <div class="row">
        <div class="col-sm-10 col-lg-10 col-md-10 col-xs-7" ng-if="hasAddGatewayAccess">
            <button class="btn btn-primary pull-right btn-raised margin-top-btn" ng-click="createGatewayPopup()">
                Add Gateway
            </button>
        </div>
        <label class="col-sm-2 col-lg-2 col-md-2 col-xs-5">Rows on page
            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                    ng-model="settingPageSize" ng-options="i for i in [5,10,15,20,25]">
            </select>
        </label>
    </div>
    <div class="panel profile-panel ">
        <div class="panel-heading panel-background">
            <h3 class="panel-title">Sms Gateway</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-responsive table-striped" st-table="smsSettingInfo" st-safe-src="smsSettingMasterInfo">
                    <thead>
                    <tr class="sortable ">
                        <th class="table-id" st-sort="id"><b>ID</b></th>
                        <th st-sort="api"><b>API</b></th>
                        <th st-sort="name"><b>GATEWAY NAME</b></th>
                        <th st-sort="senderId"><b>SENDER ID</b></th>
                        <th st-sort="campaign"><b>CAMPAIGN</b></th>
                        <th st-sort="countryCode"><b>COUNTRY</b></th>
                        <th ng-if="hasSMSGatewayEditAccess"><b>ACTION</b></th>
                    </tr>

                    <tr>
                        <th></th>
                        <th></th>
                        <th><input st-search="name" placeholder="Search Name"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th ng-if="hasSMSGatewayEditAccess"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in smsSettingInfo">
                        <td>{{item.id}}</td>
                        <td>{{item.api}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.senderId}}</td>
                        <td>{{item.campaign}}</td>
                        <td>{{item.countryCode}}</td>
                        <td ng-if="hasSMSGatewayEditAccess">
                            <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                                    ng-click="editSmsDetailsInfoBox(item)" data-toggle="tooltip" title="Edit Sms Gateway Details"><i
                                    class="fa fa-pencil fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-pagination="" st-items-by-page="settingPageSize" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>