<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close "></em>
        </button>
        <h4 class="modal-title">Assigned Outlets</h4>
    </div>
    <div class="modal-body">
        <!-- <div class="col-sm-12 text-center" ng-hide="outletLoaded">
             <i class="fa fa-spinner fa-spin" style="padding: 10px 10px 10px 10px"></i><label>Loading</label>
         </div>
         <br>-->
        <div class="vertical-scroll-bar " >
            <div class=" services-back-grnd col-sm-5" ng-repeat="item in newSelected.outlet">
                <span>{{item.id}} - {{item.outletDesc}}
                    <i class="fa fa-hourglass-o pull-right" aria-hidden="true" ng-if="item.statusId==1"
                       data-toggle="modal"
                       data-toggle="tooltip" title="OPEN"></i>
                </span>
            </div>
        </div>
        <div class="modal-footer margin-footer">
            &nbsp;
        </div>
    </div>






