<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close "></em>
        </button>
        <h3 class="modal-title">Menu List</h3>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 menu-list">
            <div class="menu-back-grnd col-sm-3" ng-repeat="item in menuInfoList">
                <span>{{item.id}} - {{item.name}}</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        &nbsp;
    </div>
</div>