$text-color: #333;
.auth-main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 10%;

  .form-control, .form-control:focus {
    @include placeholderStyle($text-color, 0.9);
    background-color: #fff;
    border-radius: 5px;
    color: $text-color;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    @include placeholderStyle($text-color, 0.6);
  }
  .auth-block {
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
	background-color : #d84646;;
  ;
    color: #fff;
    padding: 32px;
    h1 {
      font-weight: $font-light;
      margin-bottom: 28px;
      text-align: center;
    }
    p {
      font-size: 16px;
    }
    a {
      text-decoration: none;
      outline: none;
      transition: all 0.2s ease;
      color: $primary;
      &:hover {
        color: $primary-dark;
      }
    }

    .control-label {
      padding-top: 11px;
      color: $text-color;
    }

    .form-group {
      margin-bottom: 12px;
    }
  }


  .register-block {
    margin: 0 auto;
    margin-top: -5%;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color : #d84646;
    color: #fff;
    padding: 20px;
    h1 {
      font-weight: $font-light;
      margin-bottom: 20px;
      text-align: center;
    }
    p {
      font-size: 16px;
    }
    a {
      text-decoration: none;
      outline: none;
      transition: all 0.2s ease;
      color: $primary;
      &:hover {
        color: $primary-dark;
      }
    }
    .register-box-msg{
      font-size: 15px;
      margin: 0;
      text-align: center;
      padding: 0 20px 20px 20px;
      text-transform: uppercase;
    }
    .register-logo {
      font-size: 35px;
      text-align: center;
      margin-bottom: 25px;
      font-weight: 300;
    }

    .control-label {
      padding-top: 11px;
      color: $text-color;
    }

    .form-group {
      margin-bottom: 12px;
    }
  }

  .auth-input {
    width: 300px;
    margin-bottom: 24px;
    input {
      display: block;
      width: 100%;
      border: none;
      font-size: 16px;
      padding: 4px 10px;
      outline: none;
    }
  }



  .auth-link {
    display: block;
    font-size: 16px;
    text-align: center;
    margin-bottom: 33px;
  }

  .auth-sep {
    margin-top: 36px;
    margin-bottom: 24px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    display: block;
    position: relative;
    & > span {
      display: table-cell;
      width: 30%;
      white-space: nowrap;
      padding: 0 24px;
      color: $text-color;
      & > span {
        margin-top: -12px;
        display: block;
      }
    }
    &:before, &:after {
      border-top: solid 1px $text-color;
      content: "";
      height: 1px;
      width: 35%;
      display: table-cell;
    }
  }
  .btn-auth {
    color: #d84646 !important;
    background-color: #feffff !important;
  }
  .button-wrapper{
    text-align: center;
  }
}

.box-main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 2%;

  .form-control, .form-control:focus {
    @include placeholderStyle($text-color, 0.9);
    background-color: #fff;
    border-radius: 0px;
    color: #000;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    @include placeholderStyle($text-color, 0.6);
  }
  .box-block {
    width: 100%;
    margin: 0 auto;
    border-radius: 0px;
    background-color : #FFFFFF;
    color: #000;
    padding: 32px;
    h1 {
      font-weight: $font-light;
      margin-bottom: 28px;
      text-align: center;
    }
    p {
      font-size: 16px;
    }
    a {
      text-decoration: none;
      outline: none;
      transition: all 0.2s ease;
      color: $primary;
      &:hover {
        color: $primary-dark;
      }
    }
    .box-label {
      padding-top: 11px;
      color: $text-color;
    }
    .form-group {
      margin-bottom: 12px;
    }
  }

  .box-input {
    width: 300px;
    margin-bottom: 24px;
    input {
      display: block;
      width: 100%;
      border: none;
      font-size: 16px;
      padding: 4px 10px;
      outline: none;
    }
  }

  .box-link {
    display: block;
    font-size: 16px;
    text-align: center;
    margin-bottom: 33px;
  }

  .box-sep {
    margin-top: 36px;
    margin-bottom: 24px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    display: block;
    position: relative;
    & > span {
      display: table-cell;
      width: 30%;
      white-space: nowrap;
      padding: 0 24px;
      color: $text-color;
      & > span {
        margin-top: -12px;
        display: block;
      }
    }
    &:before, &:after {
      border-top: solid 1px $text-color;
      content: "";
      height: 1px;
      width: 35%;
      display: table-cell;
    }
  }
  .btn-box {
    color: #ffffff!important;

  }
  .button-wrapper{
    text-align: center;
  }
}