<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close"></em>
        </button>
        <h4 class="modal-title ">Add New Device</h4>
    </div>
    <div class="modal-body">
        <form name="addNewDevice.form" class="form-horizontal" ng-submit="addDevice(addNewDevice.form.$valid)"
              novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                    Serial Number <span class="note-text">*</span>
                    <div ng-class="{'has-error': addNewDevice.form.serialNo.$invalid && (addNewDevice.form.serialNo.$dirty || addNewDevice.form.$submitted)}">
                        <input class="form-control" name="serialNo" ui-validate="'isValidSerial($value)'"
                               ng-model="addNewDevice.info.serialNo" maxlength="17" placeholder="Enter serial number" required>
                        <span class="help-block error-block basic-block">Please enter valid mac address</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-raised " ng-hide="dataLoading"
                            ng-disabled="addNewDevice.form.$invalid">Add Device
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer ">
        &nbsp;
    </div>
</div>
