<div class="horizontal-scroll">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="panel">
                <div class="panel-body" style="padding-bottom: 27px;">
                    <h3>
                        <small>Total Stores:</small>
                        <span class="text-success">{{uniqueStores.length}}</span><br>
                        <small>Active Devices (Total):</small>
                        <span class="text-success">{{(deviceListsMasterData | filter:{status:'A'}).length}}</span>
                        ({{deviceListsMasterData.length}})
                    </h3>
                </div>
            </div>
        </div>

        <div class="col-md-8  col-xs-12">
            <div class="panel">
                <div class="panel-body">

                    <div class="col-md-3 col-xs-12">
                        <h5>Number of devices <small>since last feedback</small></h5>

                    </div>
                    <div class="col-md-3 col-xs-12">
                        <h3 class="text-center">
                            <button class="btn btn-warning" ng-click="devicesFeedWithinDay()">{{(deviceListsMasterData |
                                filterWithinOneDay).length}}
                            </button>
                            <div><small>within 24 hours</small></div>
                        </h3>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <h3 class="text-center">
                            <button class="btn btn-danger" ng-click="devicesFeedPastDay()">{{(deviceListsMasterData |
                                filterPastOneDay).length}}
                            </button>
                            <div><small>a day ago</small></div>
                        </h3>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <h3 class="text-center">
                            <button class="btn btn-default" ng-click="devicesWithoutFeed()">{{(deviceListsMasterData |
                                filterWithoutFeed).length}}
                            </button>
                            <div><small>without feedback</small></div>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 pull-right">Rows on page
            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                    ng-model="devicePageSize" ng-options="i for i in [5,10,15,20,25]">
            </select>
        </label>

        <button class="btn btn-primary pull-right btn-raised margin-top-btn" ng-click="exportToXLS()">Export to XLS</button>
        <!--       <div class="col-sm-2 pull-right margin-top-btn ">
                   <button class="btn btn-primary btn-raised" ng-click="goToAddNewDevice()">Add New Device</button>
               </div>-->
    </div>
    <div class="panel profile-panel ">
        <div class="panel-heading panel-background">
            <h3 class="panel-title">Devices</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table device" st-table="deviceListsData"
                       st-safe-src="deviceListsMasterData">
                    <thead>
                    <tr class="sortable ">
                        <th st-sort="androidDeviceId"><b>DEVICE ID</b></th>
                        <th st-sort="storeId" st-sort-default="true"><b>STORE ID</b></th>
                        <th st-sort="outletName" st-sort-default="true"><b>OUTLET NAME</b></th>
                        <th st-sort="regionName" st-sort-default="true"><b>REGION NAME</b></th>
                        <th st-sort="feedbackDate"><b>LAST<br>FEEDBACK ON</b></th>
                        <th><b>INSTALLATIONS#</b></th>
                        <th st-sort="status"><b>STATUS</b></th>
                    </tr>
                    <tr>
                        <th style="max-width:100px;word-wrap: break-word;"><input st-search="androidDeviceId"
                                                                                  placeholder="Android Device Id"
                                                                                  class="input-sm form-control search-input"
                                                                                  type="search"/></th>
                        <th style="max-width:70px;word-wrap: break-word;"><input st-search="storeId"
                                                                                 placeholder="Store Id"
                                                                                 class="input-sm form-control search-input"
                                                                                 type="search"/></th>

                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            <select st-search="status" st-input-event="change" st-delay="0" ng-model="dummy"
                                    class="input-sm form-control">
                                <option value="">
                                    All
                                </option>
                                <option value="I">
                                    InActive
                                </option>
                                <option value="A">
                                    Active
                                </option>
                            </select></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in deviceListsData">
                        <td><strong>{{item.androidDeviceId}}</strong></td>

                        <td>{{item.storeId|uppercase}}</td>
                        <td>{{item.outletName}}</td>
                        <td>{{item.regionName}}</td>
                        <td>{{item.feedbackDate}}</td>
                        <!--         <td>{{item.status|statusFullForm}}</td>-->
                        <td><strong><label class="installed-device ">{{item.installations.length}}</label></strong>&nbsp;
                            <button class="btn btn-primary btn-xs" data-toggle="modal"
                                    ng-click="showInstallationHistory(item)" data-toggle="tooltip"
                                    title="View Device History"><i
                                    class="fa fa-eye fa-lg"></i>
                            </button>
                            <!-- div ng-repeat="subItem in item.installations">
                                <strong>{{subItem.installationDate}}</strong> <span class="text-muted">{{subItem.installationId}}</span>
                            </div -->
                        </td>
                        <td ng-if="hasEditRights" editable-select="item.status" e-selectpicker blur="cancel"
                            e-ng-options="g.id as g.text for g in statusOptions" onaftersave="updateDevice(item)">
                            <a><u>{{item.status
                                | statusFullForm}}</u></a>
                        </td>
                        <td ng-if="!hasEditRights">{{item.status | statusFullForm}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <div st-pagination="" st-items-by-page="devicePageSize" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <table id="devicesTableToExport" class="table device" st-table="deviceListsMasterData" ng-hide="true">
        <thead>
        <tr style="background-color:#458b74;color:#ffffff">
            <th st-sort="androidDeviceId"><b>DEVICE ID<br></b></th>
            <th st-sort="installationId"><b>INSTALLATION ID<br></b></th>
            <th st-sort="outletName"><b>OUTLET<br></b></th>
            <th st-sort="regionName"><b>REGION<br></b></th>
            <th st-sort="storeId" st-sort-default="true"><b>STORE ID<br></b></th>
            <th st-sort="fingerprint"><b>DEVICE FINGERPRINT<br></b></th>
            <th st-sort="installationDate"><b>LAST<br>CONFIGURED</b></th>
            <th st-sort="feedbackDate"><b>LAST<br>FEEDBACK ON</b></th>
            <th st-sort="status"><b>STATUS</b></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in deviceListsMasterData">
            <td>{{item.androidDeviceId}}</td>
            <td>{{item.installationId}}</td>
            <td>{{item.outletName}}</td>
            <td>{{item.regionName}}</td>
            <td>{{item.storeId|uppercase}}</td>
            <td>{{item.fingerprint|nullValueFilter}}</td>
            <td>{{item.installationDate}}</td>
            <td>{{item.feedbackDate}}</td>
            <td>{{item.status | statusFullForm}}</td>
        </tr>
        </tbody>

    </table>
</div>