<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close"></em>
        </button>
        <h4 class="modal-title ">Installation History for {{deviceData.androidDeviceId}} ({{deviceData.storeId}})</h4>
    </div>
    <div class="modal-body">
        <div class="row">

            <div class="col-md-2">
                <strong>STORE ID</strong>
                <h4>
                    <small>{{deviceData.storeId}}</small>
                </h4>
            </div>
            <div class="col-md-2">
                <strong>OS VERSION</strong>
                <h4>
                    <small>{{deviceData.fingerprint | androidVersion}}</small>
                </h4>
            </div>
            <div class="col-md-8">
                <strong>FINGERPRINT</strong>
                <h4>
                    <small>{{deviceData.fingerprint}}</small>
                </h4>
            </div>
        </div>

        <table class="table">
            <tr>
                <th>#</th>
                <th>Installation Date</th>
                <th>Last Feedback On</th>
            </tr>
            <tr ng-repeat="item in deviceData.installations">
                <th>{{$index+1}}</th>
                <th>{{item.installationDate}}</th>
                <th>{{item.lastFeedbackDate}}</th>
            </tr>
        </table>
    </div>
    <div class="modal-footer ">
        &nbsp;
    </div>
</div>
