<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close"></em>
        </button>
        <h4 class="modal-title ">Last feedback devices
            <small>a day ago</small>
        </h4>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Device ID</th>
                <th>Store Id</th>
                <th>Last feedback on</th>
            </tr>
            <tr ng-repeat="item in (deviceListsMasterData | filterPastOneDay)">
                <th>{{$index+1}}</th>
                <th>{{item.androidDeviceId}}</th>
                <th>{{item.storeId}}</th>
                <th>{{item.feedbackDate}}</th>
            </tr>
        </table>
    </div>
    <div class="modal-footer ">
        &nbsp;
    </div>
</div>
