<!--<div class="col-sm-3 div-center" ng-hide="feedbackTrack">
    <div class="captcha text-center">
        <h2>
            {{captcha}}
        </h2>
    </div>
    <input class="form-control" placeholder="Enter Captcha Here" ng-model="enter.captcha">
    <span class="pull-right note-text" ng-if="WrongCaptcha">Enter Valid Captcha</span>
    <div style="padding: 15px">
        <button class="btn btn-info btn-raised col-sm-12 col-xs-12" ng-click="createTrack()" ng-hide="feedbackTrack">
            Verify
        </button>
    </div>
</div>-->
<div id="fdView">
    <h3><img ng-src="{{::( 'feedView-logo.png' | appImage )}}" height="50"> <span class="heading"></span></h3>
    <!--<h3>{{feedbackInfo.outletDesc}}</h3>-->
    <div class="panel profile-panel">
        <div class="panel-heading panel-background">

            <span>FEEDBACK ON - {{feedbackInfo.feedbackDate}}</span>

        </div>
        <div class="panel-body">
            <div>
                <h4 class="banner-setting-head"><i class="fa fa-hand-o-right" aria-hidden="true"></i> <b>GUEST
                    DETAILS</b>
                </h4>
                <div><strong>Name:</strong> {{feedbackInfo.customerName}}</div>
                <div><strong>Mobile:</strong> {{feedbackInfo.mobileNo}}</div>
                <div><strong>Email:</strong> {{feedbackInfo.email}}</div>
                <div><strong>Locality:</strong> {{feedbackInfo.locality}}</div>
                <div><strong>Table No:</strong> {{feedbackInfo.tableNo}}</div>
            </div>
            <br>
            <div>
                <h4 class="banner-setting-head"><i class="fa fa-hand-o-right" aria-hidden="true"></i> <b>FEEDBACK
                    GIVEN</b></h4>
                <div ng-repeat="item in feedbackInfo.feedbacks" class="feed-ques">
                    <h4><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"
                           ng-show="item.isNegative"></i> {{item.questionDesc}}</h4>
                    <div ng-repeat="opt in item.options" class="feed-items">
                        <span class="feed-items-choice" ng-class="{'negative-feed': opt.isNegative }"><span
                                ng-if="opt.questionType=='3'"><strong>{{opt.answerDesc}}</strong>:</span> <span
                                ng-bind-html="opt.answerValue | emptyInputFilter"></span></span>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

