<div class="row">
    <div class="col-sm-3" id="linking">
    </div>
    <div class="col-sm-6">
        <div class="panel profile-panel">
            <div class="panel-heading panel-background">
                <h3 class="panel-title">Download Feedback</h3>
            </div>
            <div class="panel-body">
                <form name="genFeedback.form" class="form-horizontal"
                      ng-submit="generateFeedback(genFeedback.form.$valid)"
                      novalidate>
                    <h5 class="text-center">DATE RANGE</h5>
                    <hr style="margin-top: 5px;margin-bottom: 8px">
                    <div class="form-group">
                        <div class="col-sm-6" style="margin-bottom: -9px">
                            From Date<span class="note-text">*</span>
                            <div ng-class="{'has-error': genFeedback.form.fromDate.$invalid && (genFeedback.form.fromDate.$dirty || genFeedback.form.$submitted)}">
                                <p class="input-group assignTemplateLayout">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           ng-model="genFeedback.info.fromDate" is-open="popup2.opened"
                                           placeholder="Enter From Date"
                                           datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                           alt-input-formats="altInputFormats" name="fromDate"
                                           style="margin-top: -15px" ng-change="enableDisablePopUp()"/>
                                    <span class="input-group-btn assignTemplateLayout">
                                            <button type="button" class="btn btn-default" ng-click="open2()"
                                                    style="margin-top: -15px">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                                <span class="help-block error-block basic-block" style="display: none">Date Required</span>
                            </div>
                        </div>
                        <div class="col-sm-6" style="margin-bottom: -21px">
                            To Date<span class="note-text">*</span>
                            <div ng-class="{'has-error': genFeedback.form.toDate.$invalid && (genFeedback.form.toDate.$dirty || genFeedback.form.$submitted)}">
                                <p class="input-group assignTemplateLayout">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           ng-model="genFeedback.info.toDate" is-open="popup1.opened"
                                           placeholder="Enter To Date" min-date="minDate"  max-date="maxDate"
                                           uib-datepicker-options="toDateOptions" ng-required="true" close-text="Close"
                                           alt-input-formats="altInputFormats" name="toDate" style="margin-top: -15px" ng-disabled="ifFormDateNotSelected"/>
                                    <span class="input-group-btn assignTemplateLayout">
                                            <button type="button" class="btn btn-default" ng-click="open1()"
                                                    style="margin-top: -15px" ng-disabled="ifFormDateNotSelected">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                                <span class="help-block error-block basic-block" style="display: none">Date Required</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr class="hidden-xs" style="margin-top: -15px;margin-bottom: 16px;">
                    <hr class="hidden-md hidden-lg hidden-sm" style="margin-top: -15px;margin-bottom: 9px;">
                    <div class="form-group">
                        <div class="col-sm-12">
                            Select Outlet<span class="optional-text"> (optional, maximum 5)</span>
                            <div ng-class="{'has-error': genFeedback.form.subjectAssignType.$invalid && (genFeedback.form.subjectAssignType.$dirty || genFeedback.form.$submitted)}">
                                <ui-select id="subTypes" name="subTypes" theme="bootstrap" multiple
                                           close-on-select="false" ng-model="selected.outlet" limit="5">
                                    <ui-select-match placeholder="Select Outlets">
                                        <span ng-bind="$item.outletDesc"></span>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in (outletListsData | filter: $select.search) track by item.id">
                                        <span ng-bind="item.outletDesc"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <!--  <select class="form-control" ng-model="selected.outlet" name="outletId" id="outletId"
                                          style="margin-right: 6px"
                                          ng-options="item as item.outletDesc for item in outletListsData">
                                      <option value="">Select Outlet</option>
                                  </select>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            Table Number<span class="optional-text"> (optional)</span>
                            <div ng-class="{'has-error': genFeedback.form.tableNo.$invalid && (genFeedback.form.tableNo.$dirty || genFeedback.form.$submitted)}">
                                <input class="form-control" name="tableNo" placeholder="Enter Bill Number"
                                       ng-model="genFeedback.info.tableNo" type="number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-info btn-raised"
                                    ng-disabled="genFeedback.form.$invalid" ng-hide="isLoading">
                                GENERATE FEEDBACK <i class="fa fa-download" aria-hidden="true"></i>
                            </button>
                            <div ng-hide="!isLoading"><i class="fa fa-spin fa-spinner fa-lg"></i> Downloading.. Please wait..</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table id="tableToExport" class="table" ng-hide="true" >
        <thead class="table-header">
        <tr style="background-color:#458b74;color:#ffffff">
            <th rowspan="2" class="text-center"><b>Response No</b></th>
            <th><b>Date</b></th>
            <th><b>Outlet</b></th>
            <th><b>Table No</b></th>
            <th ng-repeat="qItem in excelHeaders.questions" colspan="{{qItem.answers.length}}"><b>{{qItem.text}}</b></th>
            <th ng-if="hasFullPermission" colspan="6" class="text-center"><b>Customer Details</b></th>
            <th rowspan="2"><b>isNegative?</b></th>
            <th colspan="2"><b>isAddressed Details</b></th>
        </tr>
        <tr style="background-color:#00cdcd;color:#ffffff">
            <th></th>
            <th></th>
            <th></th>
            <th ng-repeat="ansItem in excelHeaders.options"><b>{{ansItem.answerDesc}}</b></th>
            <th ng-if="hasFullPermission"><b>Name</b></th>
            <th ng-if="hasFullPermission"><b>Email</b></th>
            <th ng-if="hasFullPermission"><b>Phone</b></th>
            <th ng-if="hasFullPermission"><b>Date of Birth</b></th>
            <th ng-if="hasFullPermission"><b>Date of Anniversary</b></th>
            <th ng-if="hasFullPermission"><b>Locality</b></th>
            <!--    <th ng-if="hasFullPermission"><b>isNegative?</b></th>-->
            <th ng-if="hasFullPermission"><b>isAddressed?</b></th>
            <th ng-if="hasFullPermission"><b>View Date</b></th>
        </tr>
        </thead>
        <tbody>
        <!--<tr ng-repeat="item in feedbackListsData" ng-style="ifItsNegative(item.isNegative)">-->
        <tr ng-repeat="item in feedbackListsData">
            <td style="background-color:#458b74;color:#ffffff;">{{item.id}}</td>
            <td>{{item.feedbackDate}}</td>
            <td>{{item.outletDesc}}</td>
            <td>{{item.tableNo}}</td>
            <td ng-repeat="rowItem in item.newFeedbacks" ng-style="ifItsNegative(rowItem.isNegative)">{{rowItem.answerValue}}</td>
            <td ng-if="hasFullPermission">{{item.customerName}}</td>
            <td ng-if="hasFullPermission">{{item.email}}</td>
            <td ng-if="hasFullPermission">{{item.mobileNo}}</td>
            <td ng-if="hasFullPermission">{{item.dob | dateMonthFilter}}</td>
            <td ng-if="hasFullPermission">{{item.doa | dateMonthFilter}}</td>
            <td ng-if="hasFullPermission">{{item.locality}}</td>
            <td ng-if="hasFullPermission" ng-style="ifItsNegative(item.isNegative)">{{item.isNegative|yesNoValueFilter}}</td>
            <td ng-if="hasFullPermission">{{item|isAddressedFilter}}</td>
            <td ng-if="hasFullPermission">{{item.viewDate|nullValueFilter}}</td>
        </tr>
        </tbody>
    </table>
</div>

