<div class="col-sm-12">
    <button class="btn btn-primary btn-sm" ng-back><i
            class="fa fa-arrow-left fa-lg"></i> Back
    </button>
    <br><br>
</div>
<div class="col-sm-12">
    <div class="row">
        <div class="col-md-3 col-lg-3">

        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
            <uib-tabset active="activeTab">
                <uib-tab index="0" heading="Edit User">
                    <div class="panel profile-panel ">
                        <div class="panel-body">
                            <form name="editUser.form" class="form" ng-submit="updateUser(editUser.form.$valid)"
                                  novalidate>
                                <div class="form-group ">
                                    <label class="control-label"><b>Name<span class="note-text">*</span></b></label>
                                    <div ng-class="{'has-error': editUser.form.name.$invalid && (editUser.name.college.$dirty || editUser.form.$submitted)}">
                                        <input class="form-control" name="name" ui-validate="'isName($value)'"
                                               ng-model="editUser.info.name" minlength="5"
                                               maxlength="40" required>
                                        <span class="help-block error-block basic-block pull-right">Valid userName without special characters</span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label"><b>Username<span class="note-text">*</span></b></label>
                                    <div ng-class="{'has-error': editUser.form.userName.$invalid && (editUser.userName.college.$dirty || editUser.form.$submitted)}">
                                        <input class="form-control" name="userName" ng-readonly="true"
                                               ng-model="editUser.info.userName" required>
                                        <span class="help-block error-block basic-block ">Only characters a-z,0-9 and space is not allowed.</span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label"><b>Email<span class="note-text">*</span></b></label>
                                    <div ng-class="{'has-error': editUser.form.email.$invalid && (editUser.email.college.$dirty || editUser.form.$submitted)}">
                                        <input type="email" class="form-control" name="email"
                                               ng-model="editUser.info.email" required>
                                        <span class="help-block error-block basic-block">Please enter valid email id.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div ng-class="{'has-error': editUser.form.roleId.$invalid && (editUser.form.roleId.$dirty || editUser.form.$submitted)}">
                                        <label class="control-label"><b>Select Role<span
                                                class="note-text">*</span></b></label>
                                        <select class="form-control" ng-model="selected.role" class="form-control"
                                                name="roleId" id="roleId" ng-required="true"
                                                ng-options="item as item.name for item in roleListData" required>
                                            <option value="">Select Role</option>
                                        </select>
                                        <span class="help-block error-block basic-block" style="display: none"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div ng-class="{'has-error': editUser.editUser.status.$invalid && (editUser.editUser.status.$dirty || editUser.editUser.$submitted)}">
                                        <label class="control-label"><b>Active/Inactive<span class="note-text">*</span></b></label>
                                        <select st-input-event="change"
                                                ng-options="g.id as g.text for g in statusOptions"
                                                st-delay="0" ng-model="editUser.info.status"
                                                class="input-sm form-control">
                                        </select>
                                        <span class="help-block error-block basic-block" style="display: none"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <input style="vertical-align: sub!important;" type="checkbox" ng-model="notifyEmail.isChecked"/> <b style="font-size: 13px"> Email Notification?</b>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-raised">Update
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Change Password">
                    <div class="panel profile-panel ">
                        <div class="panel-body">
                            <form name="resetPasswordData.form"
                                  ng-submit="resetPassword(resetPasswordData.form.$valid);"
                                  novalidate>
                                <div class="form-group"
                                     ng-class="{'has-error': resetPasswordData.form.newPassword.$invalid && (resetPasswordData.form.newPassword.$dirty || resetPasswordData.form.$submitted)}">
                                    <label class="control-label"><b>New Password</b></label>
                                    <input class="form-control" id="newPassword" name="newPassword"
                                           placeholder="Enter New Password" minlength="8" ui-validate="'isPassword($value)'"
                                           ng-model="resetPasswordData.info.newPassword" required/>
                                    <span class="help-block error-block basic-block pull-right">Please enter valid password</span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-raised">Change
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="col-md-3 col-lg-3">

        </div>
    </div>
</div>
