$left-space: 180px;

@include scrollbars(.5em, #d9d9d9, rgba(0, 0, 0, 0));

html {
  position: relative;
  min-width: 320px;
}

html, body {
  min-height: 100%;
  min-width: $resMin;
}

body {
  font: 14px/16px $font-family;
  color: $default-text;
  background-color: $body-bg;
  &.blur-theme {
    @include main-background();
  }
}

body.mobile {
  background: none;
  /*.body-bg{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-attachment: inherit;
    background-color: $body-bg;
  }*/
  &.blur-theme .body-bg {
    @include main-background();
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    overflow: hidden;
    height: 100%;
  }
  body {
    overflow: auto;
    height: 100%;
  }
}

a {
  transition: color 0.5s ease;
  outline: 0 !important;
}

.body-bg {
  display: none;
}

.al-header {
  display: block;
  height: 49px;
  margin: 0;
  background-repeat: repeat-x;
  position: relative;
  z-index: 905;
  color: #444444;
}

.al-main {
  margin-left: $left-space;
  padding: 66px 0 34px 0;
  min-height: 500px;
}

.al-footer {
  height: 34px;
  padding: 0px 18px 0 $left-space;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 0;
  font-size: 13px;
  color: $default-text;
  transition: padding-left 0.5s ease;
}

.al-footer-main {
  float: left;
  margin-left: 15px;
}

.al-copy {
  float: left;
}

.al-footer-right {
  float: right;
  margin-right: 12px;
  i {
    margin: 0 4px;
    color: $danger;
    font-size: 12px;
  }
  a {
    margin-left: 4px;
    color: $default-text;
    &:hover {
      color: $danger;
    }
  }
}

.al-share {
  margin: -6px 0 0 12px;
  padding: 0;
  list-style: none;
  float: left;
  li {
    list-style: none;
    float: left;
    margin-left: 16px;
    i {
      cursor: pointer;
      transition: all 0.1s ease;
      color: white;
      padding: 6px;
      box-sizing: content-box;
      font-size: 16px;
      &:hover {
        transform: scale(1.2);
      }
    }
    i.fa-facebook-square {
      color: $facebook-color;
    }
    i.fa-twitter-square {
      color: $twitter-color;
    }
    i.fa-google-plus-square {
      color: $google-color;
    }
  }
}

.al-content {
  padding: 8px 32px 8px 40px;
}

@media screen and (max-width: $resXS) {
  .al-content {
    padding: 8px 20px;
  }
}

.vis-hidden {
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.icon-up, .icon-down {
  width: 5px;
  height: 13px;
  display: block;
}

.icon-up {
  @include bg-nr('arrow-green-up.svg');
}

.icon-down {
  @include bg-nr('arrow-red-down.svg');
}

.disable-text-selection {
  -webkit-touch-callout: none;
  user-select: none;
}

.align-right {
  text-align: right
}

.amcharts-chart-div > a {
  font-size: 6px !important;
}

.content-panel {
  padding-left: 22px;
  padding-top: 26px;
}

@media (max-width: 590px) {
  .al-footer-right {
    float: none;
    margin-bottom: 19px;
    margin-right: 0;
  }
  .al-footer {
    height: 76px;
    text-align: center;
  }
  .al-main {
    padding-bottom: 76px;
  }
  .al-footer-main {
    float: none;
    display: inline-block;
  }
}

.full-invisible {
  visibility: hidden !important;
  * {
    visibility: hidden !important;
  }
}

.irs-grid-text {
  color: $default-text;
}

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}

.error-template {
  padding: 40px 15px;
  text-align: center;

}

.banner-setting-hr {
  margin-top: -5px;
  margin-bottom: 15px;
}

.optional-text {
  font-size: 12px;
  color: #45d158;
}

.banner-setting-head {
  background-color: rgba(223, 238, 248, 0.63);
  padding: 10px 5px 5px 6px;
}

.negative-feed {
  background-color: red;
  color: white;
}

.feed-items {
  margin: 11px;
  .feed-items-choice {
    padding: 3px;
    border-radius: 5px;
  }
}
.feed-items-dash {
  margin: 11px;
  .feed-items-choice {
    padding: 5px;
    border-radius: 5px;
  }
}

#fdView {
  margin-top: -65px;
  span.heading {
    font-size: 23px;
    vertical-align: middle;
    color: #ec631a;
    font-weight: bold;
    display: inline-block;
    margin-top: 11px;
  }
}

.feedOn {
  font-size: 8px;
  float: right;
  padding-top: 10px;
}

.child-menus {
  padding-left: 15px;
}

.center {
  margin: auto;
  width: 50%;
}

.menu-back-grnd {
  background-color: rgba(156, 157, 158, 0.97);
  color: #ffffff;
  margin: 1px;
  padding: 5px;
  font-family: inherit;
  width: 33%;
}

.menu-list {
  margin-bottom: 10px;
}

.services-back-grnd {
  background-color: #ffffff;
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 25px;
  color: #f14343;
  border-color: #f14343;
  border-width: thin;
  border-style: solid;
  /*box-shadow: 0px 1px 1px 0px rgb(241, 25, 25);*/
}

.vertical-scroll-bar {
  max-height: 295px;
  overflow: scroll;
}

.margin-footer {
  margin-top: -30px;
}

.feed-hr {
  margin-top: 5px;
  margin-bottom: 8px
}

.installed-device {
  background: #dfb81c;
  -moz-border-radius: 50px;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  color: white;
}

.menu-info {
  color: #efb93d;
}

.dash-row {
  margin-top: -9px;
  margin-right: -18px;
  width: 122px;
}

.dash-tab-head {
  background-color: #ffffff;
}

.red-Row {
  background-color: #B33A3A;
  color: white;
}

.normal-row {
  background-color: #ffffff;
  color: black;
}

.view-feed {
  color: white;
}

.normal-view {
  color: black;
}

.not-seen-dash {
  line-height: 25px !important;
}
.div-center {
  width: 298px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
.captcha{
  margin-left: -15px!important;
}
.select-question-design{
  margin-top: -9px !important;
}
.negative-question-box{
  background-color: #FFBABA;
  color: #D8000C;
}

.customer-info{
  font-size: 20px !important;
  padding: 4px!important;
  font-weight: 300;
}
.customer-info-value{
  font-size: 20px !important;
  margin: 28px!important;
  color: #e85607;
  font-weight: 400;
}
.margin-answer{
  margin: 33px!important;
}
.dash-panel-background{
  background-color: rgb(255, 255, 255);
}
.avg-canvas{
  margin-left: 70px !important;
}
#canvas-holder {
  height: 100px;
  width: 100px;
  position: relative;
}

.chart-title {
  margin: 0 auto;
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.rate-graph-div{
  margin-bottom: -10px;
}
.report-panels-head{
  padding: 10px!important;
  margin-bottom: -15px!important;
  font-weight: bold!important;

}
.download-report-btn{
  margin-top: -18px !important;
  width: 100% !important;
  margin-right: -7px !important;
}
.report-symbol{
  padding: 5px;
  span{
    color: #19494c;
    font-size: 20px;
    padding: 5px;
    vertical-align: middle;
  }
}
.report-pagination{
  padding-bottom: 15px!important;
}
.cursor{
  cursor: pointer!important;
}

.remove-btn{
  font-size: 9px !important;
  vertical-align: middle !important;
  padding: 4px 8px 4px 8px !important;
  background-color: #e8f52b !important;
  color: #020000 !important;
  border-radius: 5px !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.close-filter{
  color: #0a0a0a!important;
  text-shadow: 0 1px 0 #fff!important;
  cursor: pointer!important;
  &:hover{
    opacity: 0.5!important;
  }
}
.loader{
  margin: 2% !important;
  color: #0e6b67;
}
.loader.ng-animate { -webkit-animation: none 0s; }

.loader-div{
  padding-top: 9px;
}
.noData{
  margin-top: 15px !important;
}
.dash-note{
  font-size: 13px;
  color: #bbb7b6;
}

.error-msg{
  font-size: 11px;
  background-color: #a94442;
  border-radius: 6px;
  padding: 2px 5px 2px 5px;
  color: white!important;
  -webkit-animation: bar 7s ease;
}
@keyframes bar
{
  0% {
    top: 0%;
  }
  100% {
    top: 100%;;
  }
}

.confirm-div{
  padding: 15px;
  .gren-icon{
    color: green;
  }
  #para1{
    .congo{
      color: #5bb5e3;
      font-size: -webkit-xxx-large;
    }
    .wel{
      color: #8641b5;
      font-size: large;
    }
    .dash-en{
      font-size: large;
    }
  }
}

.wel-btn{
  background-color: white;
  border-color: #008000;
  padding: 5px 15px 5px 15px;
  margin: 0px 15px 10px 0px;
  color: green;
  &:hover{
    background-color: #008000;
    color: white;
  }
}

.place-options{
  margin-top: 20px;
}

.login-error{
  color: white!important;
}
.next-icon{
  vertical-align: sub!important;
}
.login-btn{
  margin-left: 5px!important;
}
.create-account{
  color: white!important;
  float: right!important;
}
.register-success{
  background-color: #3c763d !important;
  border-color: #3c763d !important;
}
.register-error{
  color: white!important;
}

.please-wait{
  padding: 15px 10px 10px 10px;
  font-size: x-large;
  font-style: normal;
  font-weight: 500;
  color: black;
}

.please-spin{
  padding:0px 10px 10px 10px;
}

.role-export-btn {
  margin-bottom: 5px !important;
  padding: 3px 10px 3px 10px !important;
  display: inline-block;
  line-height: 1.42857143;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  cursor: pointer;
  background: #d84646;
  border-color: #d84646;
  color: white;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  &:hover {
    background: #b42f00;
  }
}