<div class="modal-content col-sm-12 col-lg-12 col-xs-12">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close"></em>
        </button>
        <h4 class="modal-title">Outlet Setting</h4>
    </div>
    <div class="modal-body">
        <form name="newBannerSetting.form" class="form"
              ng-submit="updateSettings(newBannerSetting.form.$valid)"
              novalidate>
            <h6 class="banner-setting-head"><b>BANNER INFORMATION</b></h6>
            <hr class="banner-setting-hr">
            <div class="row">
                <div class="form-group col-sm-12">
                    Enter Banner Url
                    <input class="form-control" name="bannerUrl"
                           ng-model="newBannerSetting.info.bannerUrl">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    Enter Table Numbers<span class="note-text"> * <small
                        class="example pull-right ">[Example:10-70,20-50]</small></span>
                    <div ng-class="{'has-error': newBannerSetting.form.tableNoRange.$invalid && (newBannerSetting.form.tableNoRange.$dirty || newBannerSetting.form.$submitted)}">
                        <input class="form-control" name="tableNoRange"
                               ng-model="newBannerSetting.info.tableNoRange"
                               ui-validate="'isValidTable($value)'"
                               required>
                        <span class="help-block error-block basic-block" style="display: none">Enter numbers and hyphen only.</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    Mobile Number Length<span class="note-text"> * <small
                        class="example pull-right ">[Example:10]</small></span>
                    <div ng-class="{'has-error': newBannerSetting.form.mobileNoLength.$invalid && (newBannerSetting.form.mobileNoLength.$dirty || newBannerSetting.form.$submitted)}">
                        <input class="form-control" name="mobileNoLength"
                               ng-model="newBannerSetting.info.mobileNoLength"
                               ui-validate="'isValidLength($value)'"
                               minlength="1" maxlength="2" required>
                        <span class="help-block error-block basic-block" style="display: none">Its should be number with length less then 11.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h6 class="banner-setting-head"><b>MANAGER DETAILS </b></h6>
                    <hr class="banner-setting-hr">
                    <div class="form-group ">
                        Manger Name<span class="note-text"> * </span>
                        <div ng-class="{'has-error': newBannerSetting.form.mgrName.$invalid && (newBannerSetting.form.mgrName.$dirty || newBannerSetting.form.$submitted)}">
                            <input class="form-control" name="mgrName"
                                   ng-model="newBannerSetting.info.mgrName"
                                   required>
                            <span class="help-block error-block basic-block" style="display: none">This field is required.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            Manger Email<span class="note-text"> * </span>
                            <div ng-class="{'has-error': newBannerSetting.form.mgrEmail.$invalid && (newBannerSetting.form.mgrEmail.$dirty || newBannerSetting.form.$submitted)}">
                                <input class="form-control" name="mgrEmail" type="email"
                                       ng-model="newBannerSetting.info.mgrEmail" required>
                                <span class="help-block error-block basic-block" style="display: none">Please enter valid email.</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            Manger Mobile<span class="note-text"> * </span>
                            <div ng-class="{'has-error': newBannerSetting.form.mgrMobile.$invalid && (newBannerSetting.form.mgrMobile.$dirty || newBannerSetting.form.$submitted)}">
                                <input class="form-control" name="mgrMobile"
                                       ng-model="newBannerSetting.info.mgrMobile" ui-validate="'isNumeric($value)'"
                                       maxlength="10"
                                       required>
                                <span class="help-block error-block basic-block" style="display: none">Please enter valid mobile number.</span>
                            </div>
                        </div>
                    </div>
                    <span><input type="checkbox" ng-model="noSmsGateWay.isChecked"/> SMS alert?</span>
                    <div class="form-group " ng-show="noSmsGateWay.isChecked">
                        <select class="form-control" ng-model="selected.gateway" class="form-control"
                                name="smsGatewayId" id="smsGatewayId"
                                ng-options="item as item.name for item in smsSettingInfo">
                            <option value="">Select Gateway</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="banner-setting-head"><b>POINT OF CONTACT</b></h6>
                    <hr class="banner-setting-hr">
                    <div class="form-group ">
                        Enter POC Name<span class="note-text"> * </span>
                        <div ng-class="{'has-error': newBannerSetting.form.pocName.$invalid && (newBannerSetting.form.pocName.$dirty || newBannerSetting.form.$submitted)}">
                            <input class="form-control" name="pocName"
                                   ng-model="newBannerSetting.info.pocName"
                                   required>
                            <span class="help-block error-block basic-block" style="display: none">This field is required.</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        Enter POC Email<span class="note-text"> * </span>
                        <div ng-class="{'has-error': newBannerSetting.form.pocEmail.$invalid && (newBannerSetting.form.pocEmail.$dirty || newBannerSetting.form.$submitted)}">
                            <input class="form-control" name="pocEmail" type="email"
                                   ng-model="newBannerSetting.info.pocEmail" required>
                            <span class="help-block error-block basic-block" style="display: none">Please enter valid email.</span>
                        </div>
                    </div>
                    <div class="form-group ">
                        Enter POC Mobile<span class="note-text"> * </span>
                        <div ng-class="{'has-error': newBannerSetting.form.pocMobile.$invalid && (newBannerSetting.form.pocMobile.$dirty || newBannerSetting.form.$submitted)}">
                            <input class="form-control" name="pocMobile"
                                   ng-model="newBannerSetting.info.pocMobile" ui-validate="'isNumeric($value)'"
                                   maxlength="10"
                                   required>
                            <span class="help-block error-block basic-block" style="display: none">Please enter valid mobile number.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <br>
                <button type="submit" class="btn btn-primary btn-raised" ng-disabled="newBannerSetting.form.$invalid">Save</button>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="margin-top: -30px">
        <span class="note-text">Note: * Fields are Mandatory</span>
    </div>
</div>


