<div class="col-sm-12">
    <button class="btn btn-primary btn-sm" ng-back><i
            class="fa fa-arrow-left fa-lg"></i> Back
    </button>
</div>
<br><br>
<br>
<div class="col-sm-12">
    <div class="panel profile-panel">
        <div class="panel-heading panel-background">
            <h3 class="panel-title">Add Outlet Information</h3>
        </div>
        <div class="panel-body">
            <form name="newOutlet.form" class="form-horizontal" ng-submit="createOutlet(newOutlet.form.$valid)"
                  novalidate>
                <div class="form-group">
                    <div class="col-sm-12">
                        <h6 class="note-text">Note: * Fields are Mandatory</h6>
                    </div>
                    <div class="col-sm-6">
                        Enter Outlet Name<span class="note-text">*</span>
                        <div ng-class="{'has-error': newOutlet.form.outletDesc.$invalid && (newOutlet.form.outletDesc.$dirty || newOutlet.form.$submitted)}">
                            <input class="form-control" name="outletDesc"
                                   ng-model="newOutlet.info.outletDesc" minlength="1" required>
                            <span class="help-block error-block basic-block pull-right">Outlet Description is required.</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        Short Description
                        <div>
                            <input class="form-control" name="shortDesc"
                                   ng-model="newOutlet.info.shortDesc">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        Select Group
                        <select class="form-control" ng-model="newOutletForm.group"
                                id="groupId" name="groupId" ng-change="onGroupChange()"
                                ng-options="item as item.desc for item in GroupsData">
                            <option value="">Select Group</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        Select Company
                        <select class="form-control" ng-model="newOutletForm.company" ng-disabled="!companyDataLoaded"
                                id="companyId" name="companyId" ng-change="onCompanyChange()"
                                ng-options="item as item.companyDesc for item in CompanyData">
                            <option value="">Select Company</option>
                        </select>
                    </div>
                    <!--      <div class="col-sm-4">
                              Select Client<span class="note-text">*</span>
                              <div ng-class="{'has-error': newOutlet.form.clusterId.$invalid && (newOutlet.form.clusterId.$dirty || newOutlet.form.$submitted)}">
                                  <select class="form-control" ng-model="newOutletForm.client"
                                          id="clientId" name="clusterId"
                                          ng-options="item as g.name for g in ClientsData" required>
                                      <option value="">Select Client</option>
                                  </select>
                                  <span class="help-block error-block basic-block pull-right">Please select client.</span>
                              </div>
                          </div>-->
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        Select Region
                        <select class="form-control" ng-model="newOutletForm.region" ng-disabled="!regionDataLoaded"
                                id="regionId" name="regionId" ng-change="onRegionChange()"
                                ng-options="item as item.regionDesc for item in RegionsData">
                            <option value="">Select Region</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        Select Cluster
                        <select class="form-control" ng-model="newOutletForm.cluster" ng-disabled="!clusterDataLoaded"
                                id="clusterId" name="clusterId"
                                ng-options="item as item.clustersDesc for item in ClustersData">
                            <option value="">Select Cluster</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        Enter PosStore<span class="note-text">*</span>
                        <div ng-class="{'has-error': newOutlet.form.posStoreId.$invalid && (newOutlet.form.posStoreId.$dirty || newOutlet.form.$submitted)}">
                            <input class="form-control" name="posStoreId" style='text-transform:uppercase'
                                   ng-model="newOutlet.info.posStoreId" required>
                            <span class="help-block error-block basic-block pull-right">PosStoreId is required.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-raised">
                            Add Outlet
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

