<div class="horizontal-scroll">
    <div class="form-group text-center " ng-if="hasAssignRights">
        <span class="lead">Assign Templates</span>
        <form name="newAssignOutlet.form" class="form-inline" ng-submit="assignOutlet(newAssignOutlet.form.$valid)"
              novalidate>
            <div class="form-group"
                 ng-class="{'has-error': newAssignOutlet.form.outletId.$invalid && (newAssignOutlet.form.outletId.$dirty || newAssignOutlet.form.$submitted)}">
                <select class="form-control" ng-model="selected.outlet" class="form-control"
                        name="outletId" id="outletId" ng-required="true" style="margin-right: 6px"
                        ng-options="item as item.outletDesc for item in outletListsData" required>
                    <option value="">Select Outlet</option>
                </select>
                <span class="help-block error-block basic-block"
                      style="display: none">Select outlet is required field</span>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': newAssignOutlet.form.templateId.$invalid && (newAssignOutlet.form.templateId.$dirty || newAssignOutlet.form.$submitted)}">
                <select class="form-control" ng-model="selected.template" class="form-control"
                        name="templateId" id="templateId" ng-required="true" style="margin-right: 6px"
                        ng-options="item as item.templateDesc for item in templateListsData" required>
                    <option value="">Select Template</option>
                </select>
                <span class="help-block error-block basic-block"
                      style="display: none">Select template is required field</span>
            </div>
            <!--<div class="form-group"
                 ng-class="{'has-error': newAssignOutlet.form.fromDate.$invalid && (newAssignOutlet.form.fromDate.$dirty || newAssignOutlet.form.$submitted)}">
                <p class="input-group assignTemplateLayout">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           ng-model="newAssignOutlet.info.fromDate" is-open="popup2.opened"
                           datepicker-options="dateOptions" ng-required="true" close-text="Close"
                           alt-input-formats="altInputFormats" name="fromDate"/>
                    <span class="input-group-btn assignTemplateLayout">
                                            <button type="button" class="btn btn-default" ng-click="open2()"
                                                    style="margin-right: 6px">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                <span class="help-block error-block basic-block" style="display: none">Date Required</span>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': newAssignOutlet.form.toDate.$invalid && (newAssignOutlet.form.toDate.$dirty || newAssignOutlet.form.$submitted)}">
                <p class="input-group assignTemplateLayout">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           ng-model="newAssignOutlet.info.toDate" is-open="popup1.opened"
                           datepicker-options="dateOptions" ng-required="true" close-text="Close"
                           alt-input-formats="altInputFormats" name="toDate"/>
                    <span class="input-group-btn assignTemplateLayout">
                                            <button type="button" class="btn btn-default" ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                <span class="help-block error-block basic-block" style="display: none">Date Required</span>
            </div>-->
            <button type="submit" class="btn btn-primary btn-raised" ng-disabled="newAssignOutlet.form.$invalid">
                Assign
            </button>
        </form>
    </div>

    <div class="panel profile-panel ">
        <div class="panel-heading panel-background">
            <h3 class="panel-title">Question List</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-10 col-lg-10 col-md-10 col-xs-8">
                    <button class="btn btn-primary pull-right btn-raised margin-top-btn" ng-click="gotoCreateOutlet()">
                        Add Outlet
                    </button>
                </div>
                <label class="col-sm-2 col-lg-2 col-md-2 col-xs-4">Rows on page
                    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                            ng-model="outletPageSize" ng-options="i for i in [5,10,15,20,25]">
                    </select>
                </label>
            </div>
            <div class="table-responsive">
                <table class="table table-responsive table-striped" st-table="outletListsData"
                       st-safe-src="outletListsMasterData">
                    <thead>
                    <tr class="sortable ">
                        <th class="table-id" st-sort="id"><b>ID</b></th>
                        <th st-sort="outletDesc"><b>OUTLET</b></th>
                        <th st-sort="companyName"><b>GROUP/COMPANY</b></th>
                        <th st-sort="posStoreId"><b>STORE ID</b></th>
                        <th st-sort="clusterName"><b>REGION</b></th>
                        <th st-sort="templateId"><b>TEMPLATE</b></th>
                        <th><b>ACTION</b></th>
                    </tr>

                    <tr>
                        <th></th>
                        <th><input st-search="outletDesc" placeholder="Search Outlet"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>
                        <th></th>
                        <th><input st-search="posStoreId" placeholder="Search Store"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>
                        <th><input st-search="clusterName" placeholder="Search Cluster"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>

                        <th>
                            <input st-search="templateName" placeholder="Search Template"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>
                        <!--   <th><select st-search="templateId" st-input-event="change"
                                   data-ng-options="item.templateId as item.templateDesc for item in templateListsData track by item.templateId"
                                   st-delay="0" ng-model="dummy" class="input-sm form-control">
                               <option value="">
                                   All
                               </option>
                           </select>
                       </th>-->
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in outletListsData">
                        <td>{{item.id}}</td>
                        <td class="multiline-cell" text="item.outletDesc" class="ng-binding">
                            <div>{{item.outletDesc }}</div>
                            <div class="sub">{{item.shortDesc|nullValueFilter}}</div>
                        </td>
                        <td>
                            <span>{{item.groupName}} / <small><b>{{item.companyName}}</b></small></span>
                        </td>
                        <td>{{item.posStoreId}}</td>
                        <td>
                            <span>{{item.clusterName}} , <small>{{item.regionName }} </small></span>
                        </td>

                        <!--    <td editable-select="item.templateId" e-selectpicker blur="cancel"
                                e-ng-options="t.templateId as t.templateDesc for t in templateListsData"
                                onbeforesave="validateBeforeSave($data)" onaftersave="updateOutlet(item)">
                                {{item.templateName}}
                            </td> -->
                        <td ng-bind-html="item.templateName |noValueFilter"></td>
                        <td>
                            <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                                    ng-click="bannerSettingBox(item)" data-toggle="tooltip" title="Outlet Setting"><i
                                    class="fa fa-cogs fa-lg"></i>
                            </button>
                            <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                                    ng-click="viewTemplateInfo(item)" data-toggle="tooltip" ng-hide="item.templateId==0"
                                    title="View Template Details"><i
                                    class="fa fa-eye fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-pagination="" st-items-by-page="outletPageSize" st-displayed-pages="10"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>