<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close "></em>
        </button>
        <h4 class="modal-title">Template Information <span ng-bind="myData.Name"> </span></h4>
    </div>
    <div class="modal-body">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>Template Id</td>
                <td><b ng-bind-html="templateInfo.id |noValueFilter"></b></td>
                <td>Template Name</td>
                <td><b ng-bind-html="templateInfo.desc |noValueFilter"></b></td>
            </tr>
         <!--   <tr>
                <td>From Date</td>
                <td><b>{{templateInfo.fromDate|dateFilter}}</b></td>
                <td>To Date</td>
                <td><b>{{templateInfo.toDate|dateFilter}}</b></td>
            </tr>-->
            <tr>
                <td>Assigned Outlet </td>
                <td><b>{{outletData.id}}</b></td>
                <td>Outlet Name </td>
                <td><b>{{outletData.outletDesc}}</b></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        &nbsp;
    </div>
</div>







