<div class="col-sm-12">
    <button class="btn btn-primary btn-sm" ng-back><i
            class="fa fa-arrow-left fa-lg"></i> Back
    </button>
    <br><br>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2 col-lg-3">
    </div>
    <div class="col-md-8 col-lg-6 col-sm-8 col-xs-12">
        <div class="panel profile-panel">
            <div class="panel-heading panel-background">
                <h3 class="panel-title">Download Negative Reports</h3>
            </div>
            <div class="panel-body">
                <form name="genReport.form" class="form-horizontal"
                      ng-submit="generateReport(genReport.form.$valid)"
                      novalidate>
                    <h5 class="text-center">DATE RANGE</h5>
                    <hr style="margin-top: 5px;margin-bottom: 8px">
                    <div class="form-group">
                        <div class="col-sm-6" style="margin-bottom: -9px">
                            From Date<span class="note-text">*</span>
                            <div ng-class="{'has-error': genReport.form.fromDate.$invalid && (genReport.form.fromDate.$dirty || genReport.form.$submitted)}">
                                <p class="input-group assignTemplateLayout">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           ng-model="genReport.info.fromDate" is-open="popup2.opened"
                                           placeholder="Enter From Date"
                                           datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                           alt-input-formats="altInputFormats" name="fromDate"
                                           style="margin-top: -15px" ng-change="enableDisablePopUp()"/>
                                    <span class="input-group-btn assignTemplateLayout">
                                            <button type="button" class="btn btn-default" ng-click="open2()"
                                                    style="margin-top: -15px">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                                <span class="help-block error-block basic-block" style="display: none">Valid date Required</span>
                            </div>
                        </div>
                        <div class="col-sm-6" style="margin-bottom: -21px">
                            To Date<span class="note-text">*</span>
                            <div ng-class="{'has-error': genReport.form.toDate.$invalid && (genReport.form.toDate.$dirty || genReport.form.$submitted)}">
                                <p class="input-group assignTemplateLayout" >
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           ng-model="genReport.info.toDate" is-open="popup1.opened"
                                           placeholder="Enter To Date" min-date="minDate"  max-date="maxDate"
                                           datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                           alt-input-formats="altInputFormats" name="toDate" style="margin-top: -15px" ng-disabled="ifFormDateNotSelected"/>
                                    <span class="input-group-btn assignTemplateLayout">
                                            <button type="button" class="btn btn-default" ng-click="open1()"
                                                    style="margin-top: -15px"  ng-disabled="ifFormDateNotSelected">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                                <span class="help-block error-block basic-block" style="display: none">Valid date Required</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr class="hidden-xs" style="margin-top: -15px;margin-bottom: 16px;">
                    <hr class="hidden-md hidden-lg hidden-sm" style="margin-top: -15px;margin-bottom: 9px;">
                    <div class="form-group">
                        <div class="col-sm-12">
                            Select Outlet<span class="optional-text"> (optional, maximum 5)</span>
                            <div ng-class="{'has-error': genReport.form.subjectAssignType.$invalid && (genReport.form.subjectAssignType.$dirty || genReport.form.$submitted)}">
                                <ui-select id="subTypes" name="subTypes" theme="bootstrap" multiple
                                           close-on-select="false" ng-model="selected.outlet" limit="5">
                                    <ui-select-match placeholder="Select Outlets">
                                        <span ng-bind="$item.outletDesc"></span>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in (outletListsData | filter: $select.search) track by item.id">
                                        <span ng-bind="item.outletDesc"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <!--  <select class="form-control" ng-model="selected.outlet" name="outletId" id="outletId"
                                          style="margin-right: 6px"
                                          ng-options="item as item.outletDesc for item in outletListsData">
                                      <option value="">Select Outlet</option>
                                  </select>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            Table Number<span class="optional-text"> (optional)</span>
                            <div ng-class="{'has-error': genReport.form.tableNo.$invalid && (genReport.form.tableNo.$dirty || genReport.form.$submitted)}">
                                <input class="form-control" name="tableNo" placeholder="Enter Table Number"
                                       ng-model="genReport.info.tableNo" type="number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-12 ">
                            <button type="submit" class="btn btn-info btn-raised"
                                    ng-disabled="genReport.form.$invalid" ng-hide="isLoading">
                                GENERATE REPORT <i class="fa fa-download" aria-hidden="true"></i>
                            </button>
                            <div ng-hide="!isLoading"><i class="fa fa-spin fa-spinner fa-lg"></i> Downloading.. Please
                                wait..
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-3">

    </div>
</div>

<div  ng-hide="true">
    <table id="tableToExport" class="table">
        <thead class="table-header">
        <tr style="background-color:#d03636;color:#ffffff">
            <th colspan="5" class="text-center"><b>Negative Feedback Details</b></th>
            <th colspan="3" ng-if="hasFullPermission" class="text-center"><b>Customer Details</b></th>
            <th rowspan="2"><b>IsAddressed</b></th>
            <th colspan="3" class="text-center"><b>Manager Details</b></th>
            <th rowspan="2"><b>First View Date</b></th>
            <th rowspan="2"><b>View Count</b></th>
        </tr>
        <tr style="background-color:#00cdcd;color:#ffffff">
            <th><b>Feedback Id</b></th>
            <th><b>Outlet Id</b></th>
            <th><b>Outlet Name</b></th>
            <th><b>Feedback Date</b></th>
            <th><b>Table Number</b></th>
            <th ng-if="hasFullPermission"><b>Customer Id</b></th>
            <th ng-if="hasFullPermission"><b>Customer Name</b></th>
            <th ng-if="hasFullPermission"><b>Customer Mobile</b></th>
            <th><b>Manager Name</b></th>
            <th><b>Manager Mobile</b></th>
            <th><b>Manager Email</b></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in reportData">
            <td style="background-color:#d03636;color:#ffffff;">{{item.feedbackId}}</td>
            <td>{{item.outletId}}</td>
            <td>{{item.outletName}}</td>
            <td>{{item.date}}</td>
            <td>{{item.tableNo}}</td>
            <td ng-if="hasFullPermission">{{item.customerId}}</td>
            <td ng-if="hasFullPermission">{{item.customerName}}</td>
            <td ng-if="hasFullPermission">{{item.phoneNo}}</td>
            <td>{{item|isAddressedFilter}}</td>
            <td>{{item.mgrName}}</td>
            <td>{{item.mgrMobileNo}}</td>
            <td>{{item.mgrEmail}}</td>
            <td>{{item.fistViewDate}}</td>
            <td>{{item.viewCount}}</td>
        </tr>
        </tbody>
    </table>
</div>

