<div class="row">
    <div class="col-sm-12">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="dash-panel panel-default ">
                <div class="panel-body text-center panel-margin">
                    <div class="report-symbol" data-toggle="modal"
                         data-toggle="tooltip"
                         title="Daily Bill Counts">
                        <i class="fa fa-adjust violet-icon-text fa-lg" aria-hidden="true"></i>
                        <span ng-if="reportDataLoaded && dailyReportData.dailyBillCount!=0"> {{dailyReportData.dailyBillCount}}</span>
                        <span ng-if="reportDataLoaded && dailyReportData.dailyBillCount==0"> NA </span>
                        <i ng-hide="reportDataLoaded" class="fa fa-spinner fa-pulse fa-lg fa-fw loader"></i>
                    </div>
                    <div class="report-symbol" data-toggle="modal"
                         data-toggle="tooltip"
                         title="Monthly Bill Count">
                        <i class="fa fa-calendar violet-icon-text fa-lg" aria-hidden="true"></i>
                        <span ng-if="reportDataLoaded && dailyReportData.monthlyBillCount!=0"> {{dailyReportData.monthlyBillCount}}</span>
                        <span ng-if="reportDataLoaded && dailyReportData.monthlyBillCount==0">NA</span>
                        <i ng-hide="reportDataLoaded" class="fa fa-spinner fa-pulse fa-lg fa-fw loader"></i>
                    </div>
                    <div class="report-panels-head">
                        Bills Count
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="dash-panel panel-default ">
                <div class="panel-body text-center panel-margin">
                    <div class="report-symbol"
                         data-toggle="modal"
                         data-toggle="tooltip"
                         title="Daily Feedbacks Count">
                        <i class="fa fa-adjust green-icon-text fa-lg" aria-hidden="true"></i>
                        <span ng-if="reportDataLoaded && dailyReportData.avgDailyFeedback!=0">{{dailyReportData.dailyFeedback}} ( {{dailyReportData.avgDailyFeedback}}% )</span>
                        <span ng-if="reportDataLoaded && dailyReportData.avgDailyFeedback==0">{{dailyReportData.dailyFeedback}}</span>
                        <i ng-hide="reportDataLoaded" class="fa fa-spinner fa-pulse fa-lg fa-fw loader"></i>
                    </div>
                    <div class="report-symbol" data-toggle="modal"
                         data-toggle="tooltip"
                         title="Monthly Feedbacks Count">
                        <i class="fa fa-calendar green-icon-text fa-lg" aria-hidden="true"></i>
                        <span ng-if="reportDataLoaded && dailyReportData.avgMonthlyFeedback!=0"> {{dailyReportData.monthlyFeedback}} ( {{dailyReportData.avgMonthlyFeedback}}% )</span>
                        <span ng-if="reportDataLoaded && dailyReportData.avgMonthlyFeedback==0"> {{dailyReportData.monthlyFeedback}} </span>
                        <i ng-hide="reportDataLoaded" class="fa fa-spinner fa-pulse fa-lg fa-fw loader"></i>
                    </div>
                    <div class="report-panels-head">
                        Total Feedbacks
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" ng-if="!hasDownloadRights">
            <div class="danger-panel panel-default ">
                <div class="panel-body text-center panel-margin">
                    <div class="report-symbol cursor"
                         data-toggle="modal"
                         data-toggle="tooltip"
                         title="Daily Negative Feedbacks Count" ng-click="filterReport(1)">
                        <i class="fa fa-adjust red-icon-text fa-lg" aria-hidden="true"></i>
                        <span ng-if="reportDataLoaded"> {{dailyReportData.dailyNegativeCount}}</span>
                        <i ng-hide="reportDataLoaded" class="fa fa-spinner fa-pulse fa-lg fa-fw loader"></i>
                    </div>
                    <div class="report-symbol cursor" data-toggle="modal"
                         data-toggle="tooltip"
                         title="Monthly Negative Feedbacks Count" ng-click="filterReport(2)">
                        <i class="fa fa-calendar red-icon-text fa-lg" aria-hidden="true"></i>
                        <span ng-if="reportDataLoaded"> {{dailyReportData.monthlyNegativeCount}}</span>
                        <i ng-hide="reportDataLoaded" class="fa fa-spinner fa-pulse fa-lg fa-fw loader"></i>
                    </div>
                    <div class="report-panels-head">
                        Negative Feedbacks
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" ng-if="hasDownloadRights">
            <div class="danger-panel panel-default ">
                <div class="panel-body text-center panel-margin">
                    <div>
                        <button class="btn btn-info btn-xs download-report-btn"
                                data-toggle="modal" data-toggle="tooltip"
                                title="Download Negative Reports" ng-click="negativeReportPage()">Download
                            <i class="fa fa-line-chart fa-fw" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="report-symbol cursor" ng-click="filterReport(1)" data-toggle="modal"
                         data-toggle="tooltip"
                         title="Daily Negative Feedbacks Count" style="margin-top: -5px;">
                        <i class="fa fa-adjust red-icon-text fa-lg cursor" aria-hidden="true"></i>
                        <span ng-if="reportDataLoaded"> {{dailyReportData.dailyNegativeCount}}</span>
                        <i ng-hide="reportDataLoaded" class="fa fa-spinner fa-pulse fa-lg fa-fw loader"></i>
                    </div>
                    <div class="report-symbol cursor" ng-click="filterReport(2)" data-toggle="modal"
                         data-toggle="tooltip"
                         title="Monthly Negative Feedbacks Count" style="margin-bottom: -14px;margin-top: -3px;">
                        <i class="fa fa-calendar red-icon-text fa-lg " aria-hidden="true"></i>
                        <span ng-if="reportDataLoaded"> {{dailyReportData.monthlyNegativeCount}}</span>
                        <i ng-hide="reportDataLoaded" class="fa fa-spinner fa-pulse fa-lg fa-fw loader"></i>
                    </div>
                    <div class="report-panels-head" style="margin-top: 6px;">
                        Negative Feedbacks
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="dash-panel panel-default ">
                <div class="panel-body text-center panel-margin">
                    <div class="report-symbol cursor" ng-click="filterReport(3)" data-toggle="modal"
                         data-toggle="tooltip"
                         title="Daily Unaddressed Feedbacks Count">
                        <i class="fa fa-adjust blue-icon-text fa-lg " aria-hidden="true"></i>
                        <span ng-if="reportDataLoaded && dailyReportData.avgDailyUnaddressed!=0 "> {{dailyReportData.dailyUnAddressedCount}} ( {{dailyReportData.avgDailyUnaddressed}}% )</span>
                        <span ng-if="reportDataLoaded && dailyReportData.avgDailyUnaddressed==0"> {{dailyReportData.dailyUnAddressedCount}} </span>
                        <i ng-hide="reportDataLoaded" class="fa fa-spinner fa-pulse fa-lg fa-fw loader"></i>
                    </div>
                    <div class="report-symbol cursor" ng-click="filterReport(4)" data-toggle="modal"
                         data-toggle="tooltip"
                         title="Daily Unaddressed Feedbacks Count">
                        <i class="fa fa-calendar blue-icon-text fa-lg cursor" aria-hidden="true"></i>
                        <span ng-if="reportDataLoaded && dailyReportData.avgMonthlyUnaddressed!=0"> {{dailyReportData.monthlyUnAddressedCount}} ( {{dailyReportData.avgMonthlyUnaddressed}}% )</span>
                        <span ng-if="reportDataLoaded && dailyReportData.avgMonthlyUnaddressed==0"> {{dailyReportData.monthlyUnAddressedCount}} </span>
                        <i ng-hide="reportDataLoaded" class="fa fa-spinner fa-pulse fa-lg fa-fw loader"></i>
                    </div>
                    <div class="report-panels-head">
                        Unaddressed Feedbacks
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel profile-panel">
    <div class="panel-heading panel-background">
        <div class="row">
            <div class="col-xs-6 col-sm-8">
                <h3 class="panel-title">Outlet-wise Report
                    <span class="remove-btn" ng-if="filterApplied">
                        <span ng-bind="filterTitle"></span>
                        <i class="fa fa-close fa-lg close-filter" ng-click="removeAllFilter()"></i>
                    </span>
                    <!--   <small>since yesterday</small>-->
                </h3>
            </div>
            <div class="col-xs-2 pull-right dash-row">
                <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                        ng-model="reportPageSize" ng-options="i for i in [5,10,15,20,25]">
                </select>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table dashboard table-bordered table-hover table-condensed" st-table="outletWiseReportData"
                   st-safe-src="outletWiseReportMasterData">
                <thead>
                <tr class="sortable dash-tab-head ">
                    <th><b>CITY</b></th>
                    <th><b>OUTLET NAME</b></th>
                    <th colspan="2"><b>BILLS COUNT</b></th>
                    <th colspan="2"><b>TOTAL FEEDBACKS</b></th>
                    <th colspan="2"><b>NEGATIVE FEEDBACKS</b></th>
                    <th colspan="2"><b>UNADDRESSED FEEDBACKS</b></th>
                    <!--<th><b>%</b></th>-->
                </tr>
                <tr class="sortable dash-tab-head ">
                    <th><b></b></th>
                    <th><b></b></th>
                    <th><i class="fa fa-adjust" aria-hidden="true"></i></th>
                    <th><i class="fa fa-calendar" aria-hidden="true"></i></th>
                    <th><i class="fa fa-adjust" aria-hidden="true"></i></th>
                    <th><i class="fa fa-calendar" aria-hidden="true"></i></th>
                    <th><i class="fa fa-adjust" aria-hidden="true"></i></th>
                    <th><i class="fa fa-calendar" aria-hidden="true"></i></th>
                    <th><i class="fa fa-adjust" aria-hidden="true"></i></th>
                    <th><i class="fa fa-calendar" aria-hidden="true"></i></th>
                    <!--  <th><b></b></th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in outletWiseReportData">
                    <td>{{item.city}}</td>
                    <td>{{item.outletName}}</td>
                    <td ng-if="item.dailyBillCount!=0">{{item.dailyBillCount}}</td>
                    <td ng-if="item.dailyBillCount==0">NA</td>
                    <td ng-if="item.monthlyBillCount!=0">{{item.monthlyBillCount}}</td>
                    <td ng-if="item.monthlyBillCount==0">NA</td>
                    <td>{{item.dailyFeedback}}</td>
                    <td>{{item.monthlyFeedback}}</td>
                    <td>{{item.dailyNegativeCount}}</td>
                    <td>{{item.monthlyNegativeCount}}</td>
                    <td>{{item.dailyUnAddressedCount}}</td>
                    <td>{{item.monthlyUnAddressedCount}}</td>
                    <!--   <td>{{item.avgCount}}</td>-->
                </tr>
                <tr>
                    <td colspan="10" class="text-center" ng-hide="reportDataLoaded">
                        <i>Loading.. please wait..</i>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr ng-if="reportDataLoaded && outletWiseReportData.length>5">
                    <td colspan="10" class="text-center report-pagination">
                        <div st-pagination="" st-items-by-page="reportPageSize" st-displayed-pages="10"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>





