<!DOCTYPE html>
<html lang="en" ng-app="UApps">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HeedNow</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>


  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>
<body>
<div class="body-bg"></div>
<main ng-if="($pageFinishedLoading && globals.currentUser) || isFeedbackView" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

  <ba-sidebar ng-if="!isFeedbackView"></ba-sidebar>
  <page-top ng-if="!isFeedbackView"></page-top>

  <div class="al-main">
    <div class="al-content" >
      <content-top ng-if="!isFeedbackView"></content-top>
      <div ui-view></div>
    </div>
  </div>

  <footer class="al-footer clearfix" ng-if="!isFeedbackView">
    <div class="al-footer-right"></div>
    <div class="al-footer-main clearfix">
      <div class="al-copy" >Developed & Powered by <a href="http://theuniquemedia.in" target="_blank">The Unique Media Solution</a> 2016</div>
    </div>
  </footer>

  <back-top></back-top>
</main>
<span ng-if="!globals.currentUser" ui-view="auth"></span>
<!--<span ng-if="!globals.currentUser" ui-view="client"></span>-->
<div id="preloader" ng-show="!$pageFinishedLoading">
  <div></div>
</div>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>