<div class="row">
    <div class="col-sm-12">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" data-toggle="modal" data-toggle="tooltip"
             title="Total Feedback Count">
            <div class="dash-panel panel-default ">
                <div class="panel-body text-center panel-margin">
                    <label onmouseover="" style="cursor: pointer;" ng-click="filterFeedback(1)">
                        <i class="fa fa-thumbs-up green-icon-text fa-3x" aria-hidden="true"></i>
                        <span class="black-text">{{feedbackCount}}</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" data-toggle="modal" data-toggle="tooltip"
             title="Negative Feedback Count">
            <div class="dash-panel panel-default ">
                <div class="panel-body text-center panel-margin">
                    <label onmouseover="" style="cursor: pointer;" ng-click="filterFeedback(2)">
                        <i class="fa fa-thumbs-down red-icon-text fa-3x" aria-hidden="true"></i>
                        <span class="black-text">{{negativeFeedbackCount}}</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" data-toggle="modal" data-toggle="tooltip"
             title="Seen By Manager">
            <div class="dash-panel panel-default ">
                <div class="panel-body text-center panel-margin">
                    <label onmouseover="" style="cursor: pointer;" ng-click="filterFeedback(3)">
                        <i class="fa fa-eye green-icon-text fa-3x" aria-hidden="true"></i>
                        <span class="black-text">{{seenFeedbackCount}}</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" data-toggle="modal" data-toggle="tooltip"
             title="Unseen By Manager">
            <div class="dash-panel panel-default ">
                <div class="panel-body text-center panel-margin">
                    <div class="dark-blue-text">
                        <label onmouseover="" style="cursor: pointer;" ng-click="filterFeedback(4)">
                            <i class="fa fa-eye-slash red-icon-text  fa-3x" aria-hidden="true"></i>
                            <span class="black-text">{{unseenFeedbackCount}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel profile-panel">
    <div class="panel-heading dash-panel-background">
        <div class="row">
            <div class="col-xs-6 col-sm-8">
                <h3 class="panel-title"><span ng-bind="dashboardTableTitle"></span>
                    <small>since yesterday</small>
                </h3>

            </div>
            <div class="col-xs-2 pull-right dash-row">
                <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                        ng-model="dashboardPageSize" ng-options="i for i in [5,10,15,20,25]">
                </select>
            </div>
        </div>
    </div>
    <div class="dashboard-panel-body">
        <!-- <div class="row dash-feed-head btn-raised">
             <b class="col-sm-2">
                 FEEDBACK DATE
             </b>
             <b class="col-sm-2">
                 OUTLET NAME
             </b>
             <b class="col-sm-2">
                 TABLE NO
             </b>
             <b class="col-sm-2">
                 IS ADDRESSED?
             </b>
             <b class="col-sm-2">
                 ADDRESSED BY
             </b>
             <b class="col-sm-2">
                 VIEW
             </b>
         </div>
         <div class="row dash-feed btn-raised" ng-repeat="item in reportData">
             <b class="col-sm-2">
                 {{item.date}}
             </b>
             <b class="col-sm-2">
                 {{item.outletName}}
             </b>
             <b class="col-sm-2">
                 {{item.tableNo}}
             </b>
             <b class="col-sm-2">
                 {{item.isAddressed|isAddressedFilter}}
             </b>
             <b class="col-sm-2">
                 <span class="multiline-cell">{{item.mgrName }}</span>
                 <span class="sub">{{item.mgrMobileNo}}</span>
             </b>
             <b class="col-sm-2">
                 <a target="_blank" ng-href="#/feedbackView/{{item.feedbackId}}"> {{item.feedbackId}} </a>
             </b>
         </div>-->
        <div class="table-responsive">
            <table class="table dashboard" st-table="reportFeedbackData"
                   st-safe-src="reportFeedbackMasterData">
                <thead>
                <tr class="sortable dash-tab-head ">
                    <th st-sort-default="reverse" st-sort="date"><b>FEEDBACK DATE</b></th>
                    <th st-sort="outletName"><b>OUTLET NAME</b></th>
                    <th><b>TABLE NO</b></th>
                    <th><b>IS ADDRESSED?</b></th>
                    <th><b>ADDRESSED BY</b></th>
                    <th><b>FIRST VIEW DATE</b></th>
                    <th><b>VIEW</b></th>
                </tr>
                <!--     <tr>
                         <th></th>
                         <th></th>
                         <th><input st-search="outletName" placeholder="Search Outlet Name"
                                    class="input-sm form-control search-input"
                                    type="search"/>
                         </th><th><input st-search="date" placeholder="Search Date"
                                    class="input-sm form-control search-input"
                                    type="search"/>
                         </th>
                         <th></th>
                         <th></th>
                     </tr>-->
                </thead>
                <tbody>
                <tr ng-repeat="item in reportFeedbackData"
                    ng-class="(item.isNegative) == 1  ? 'red-Row' : 'normal-row' ">
                    <td>{{item.date}}</td>
                    <td>{{item.outletName}}</td>
                    <td>{{item.tableNo}}</td>
                    <td>{{item|isAddressedFilter}}</td>
                    <td class="multiline-cell" text="item.mgrName" class="ng-binding">
                        <div>{{item.mgrName}}</div>
                        <div class="sub">{{item.mgrMobileNo}}</div>
                        <div class="not-seen-dash" ng-if="item.isNegative==0"> -
                        </div>
                        <div class="not-seen-dash" ng-if="item.isAddressed==0 && item.isNegative== 1"><i
                                class="fa fa-eye-slash"
                                aria-hidden="true"></i> Not Seen
                        </div>
                    </td>
                    <td>{{item.fistViewDate|nullValueFilter}}</td>
                    <td><a class="fa fa-eye fa-lg " ng-class="(item.isNegative) == 1  ? 'view-feed':'normal-view'"
                           aria-hidden="true" ng-click="getFeedbackInfoBox(item.feedbackId)"></a>
                        <!--   <a class="fa fa-eye fa-lg " ng-class="(item.isNegative) == 1  ? 'view-feed':'normal-view'"
                              aria-hidden="true" target="_blank"
                              ng-href="#/feedbackView/{{item.feedbackId}}"></a>-->
                        <!--<a target="_blank" ng-href="#/feedbackView/{{item.feedbackId}}"> {{item.feedbackId}} </a>-->
                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="text-center" ng-show="data.loading">
                        <i>Loading.. please wait..</i>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-items-by-page="dashboardPageSize" st-displayed-pages="10"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
            <div class="text-center" ng-if="reportFeedbackData.length==0 && !data.loading"><label>No data
                available</label></div>
        </div>
        <!--        <table id="tableToExport" class="table">
                    <thead class="table-header">
                    <tr style="background-color:#00cdcd;color:#ffffff">
                        <th><b>Feedback Id</b></th>
                        <th><b>Outlet Id</b></th>
                        <th><b>Outlet Name</b></th>
                        <th><b>Feedback Date</b></th>
                        <th><b>Table No</b></th>
                        <th><b>Is Addressed</b></th>
                        <th><b>View</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in reportData">
                        <td style="background-color:#d03636;color:#ffffff;">{{item.feedbackId}}</td>
                        <td>{{item.outletId}}</td>
                        <td>{{item.outletName}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.tableNo}}</td>
                        <td><a target="_blank" ng-href="#/feedbackView/{{item.feedbackId}}"> {{item.feedbackId}} </a></td>
                    </tr>
                    </tbody>
                </table>-->
    </div>
</div>
<div class="panel profile-panel">
    <div class="panel-heading dash-panel-background">
        <div class="row">
            <div class="col-xs-6 col-sm-8">
                <h3 class="panel-title">Question-wise Feedback Report
                    <small>till date this month</small>
                </h3>

            </div>
        </div>
    </div>
    <div class="dashboard-panel-body">
        <div class="row">
            <div class="col-sm-3">
                <select ng-model="selected.template2"
                        class="form-control pull-right"
                        ng-options="item as item.templateDesc for item in templateListsData"
                        ng-change="onTemplate2Change()">
                </select>
            </div>
            <div class="col-sm-3">
                <select ng-model="selected.question2"
                        class="form-control pull-right"
                        ng-options="item as item.questionDesc for item in questionList2"
                        ng-change="onQuestion2Change()">
                </select>
            </div>
        </div>
        <div class="row" ng-hide="categoryWiseRatingData.length=0">
            <div class="col-sm-12" ng-if="graphCountDataLoaded">
                <div class="col-sm-3 canvas-holder" ng-repeat="item in categoryWiseRatingData">
                    <canvas class="chart chart-doughnut"
                            chart-data="item" chart-colors="colors"
                            chart-options="pieOptions "
                            chart-labels="ratingLabel">
                    </canvas>
                    <label class="chart-title">{{item.headLabel}}</label>
                </div>
            </div>
            <div ng-hide="graphCountDataLoaded">
                <div class="text-center rate-graph-div">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw loader"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="text-center" style="padding: 20px 0px 0px 0px;"
                 ng-if="categoryWiseRatingData.length==0 && graphCountDataLoaded"><label>No data
                available</label></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel profile-panel ">
            <div class="panel-heading dash-panel-background">
                <h3 class="panel-title">Average Feedback Report
                    <small>till date this month</small>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <select ng-model="selected.template"
                                class="form-control"
                                ng-options="item as item.templateDesc for item in templateListsData"
                                ng-change="onTemplateChange()">
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select ng-model="selected.question"
                                class="form-control pull-right"
                                ng-options="item as item.questionDesc for item in questionList"
                                ng-change="onQuestionChange()">
                        </select>
                    </div>
                </div>
                <div class="col-sm-12" ng-if="graphAvgDataLoaded && feedbackReportByQuestion.length!=0">
                    <canvas class="chart chart-bar" style="margin-top: 20px"
                            chart-data="feedbackReportByQuestion" chart-colors="colors" chart-options="options"
                            chart-labels="questionCategory">
                    </canvas>
                </div>
                <div class="text-center" style="padding: 20px 0px 0px 0px;"
                     ng-if="feedbackReportByQuestion.length==0 && graphAvgDataLoaded"><label>No data
                    available</label></div>
                <div ng-hide="graphAvgDataLoaded" class="loader-div">
                    <div class="text-center rate-graph-div">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw loader"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="col-sm-6">
            <div class="graph-panel profile-panel ">
                <div class="panel-body ">
                    &lt;!&ndash; <div class="row">
                         <div class="col-sm-6">
                             <select ng-model="selected.template"
                                     class="form-control pull-right"
                                     ng-options="item for item in templateListData"
                                     ng-change="onTemplateChange()">
                             </select>

                         </div>
                         <div class="col-sm-6">
                             <select ng-model="selected.question"
                                     class="form-control pull-right"
                                     ng-options="item for item in templateListData"
                                     ng-change="onTemplateChange()">
                             </select>
                         </div>
                     </div>&ndash;&gt;
                    <div class="col-sm-12">
                        <canvas class="chart chart-bar"
                                chart-data="subcategory_wiseFeedbackInfoData" chart-colors="colors"
                                chart-options="options"
                                chart-labels="subCategory">
                        </canvas>
                    </div>
                    <h3 class="panel-title text-center">Category-wise Feedback Report</h3>
                </div>
            </div>
        </div>-->
</div>
<span ng-hide="reportFeedbackData.length==0 && !data.loading && feedbackReportByQuestion.length==0 && graphAvgDataLoaded && categoryWiseRatingData.length==0 && graphCountDataLoaded" class="pull-right dash-note">*All number represented are approximate 15 minutes old.</span>




