<div class="modal-content">
    <div class="modal-header panel-background">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="fa fa-close"></em>
        </button>
        <h4 class="modal-title"><span>Customer Feedback Details </span> - {{feedbackId}} </h4>
    </div>
    <div class="modal-body">
        <uib-tabset active="activeTab">
            <uib-tab index="0" heading="GUEST DETAILS">
                <div class="panel profile-panel ">
                    <div class="panel-body">
                        <span><label class="customer-info">Name: </label><b class="customer-info-value"> {{feedbackInfo.customerName}}</b></span><br>
                        <span><label class="customer-info">Mobile: </label><b class="customer-info-value">{{feedbackInfo.mobileNo}}</b></span><br>
                        <span><label class="customer-info">Email: </label><b class="customer-info margin-answer">{{feedbackInfo.email|nullValueFilter}}</b></span><br>
                        <span><label class="customer-info">Locality: </label><b class="customer-info"
                                                                                style="margin-left: 16px!important">{{feedbackInfo.locality|nullValueFilter}}</b></span><br>
                        <span><label class="customer-info">Table No: </label><b class="customer-info">{{feedbackInfo.tableNo}}</b></span>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="FEEDBACK GIVEN">
                <div class="panel profile-panel ">
                    <div class="panel-body">
                        <div ng-repeat="item in feedbackInfo.feedbacks" class="feed-ques">
                            <h4 style="margin-bottom: 15px"><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"
                                   ng-show="item.isNegative"></i> {{item.questionDesc}}</h4>
                            <span ng-repeat="opt in item.options" class="feed-items-dash">
                                <span class="feed-items-choice" ng-class="{'negative-feed': opt.isNegative }">
                                     <span ng-if="opt.questionType=='3'">
                                         <strong>
                                            {{opt.answerDesc}}
                                         </strong>:
                                     </span>
                                     <span ng-bind-html="opt.answerValue | emptyInputFilter"></span>
                               </span>
                            </span>
                            <hr>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer" style="margin-top: -36px">
    </div>
</div>

