<div class="modal-content">
    <div class="modal-body">
        <div class="confirm-div text-center">
            <h1 class="al-logo clearfix"><img ng-src="{{::( 'logo3.png' | appImage )}}" style="height: 40%"></h1>
            <div id="para1">
                <h3 class="congo">Welcome!!</h3>
                <span><span class="wel">{{clientInfo.name}} </span><span class="dash-en">Here is your dashboard</span></span>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <button type="button" class="btn wel-btn pull-right" ng-click="dismissWelcome()">
            OK
        </button>
    </div>
    <div class="modal-footer" style="margin-top: -30px">
        <span>&nbsp;</span>
    </div>
</div>




